<!-- ADD PAYE SCHEME -->
{% if data['add-paye-now'] != 'yes' and data['sign-agreement-now'] != 'yes' %}
<div class="das-minimal-section__wrapper">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Add your PAYE scheme to access your account
			</h2>


			<p class="das-minimal-section__description">
				Add your organisation’s PAYE scheme and sign your agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.
			</p>

			<p>
				<a href="/add-paye" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Add your PAYE scheme
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- SIGN AGREEMENT -->
{% if data['sign-agreement-now'] != 'yes' and data['add-paye-now'] == 'yes' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Sign your agreement to access apprenticeship funding
			</h2>


			<p class="das-minimal-section__description">
				Sign your agreement with the Education and Skills Funding Agency to access funding for apprenticeship training. 
			</p>

			<p>
				<a href="/sign-agreement" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Sign your agreement
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- RESERVE FUNDS -->
{% if data['sign-agreement-now'] == 'yes' and data['add-paye-now'] == 'yes' and data['reserved-funding'] != 'yes' and data['employer-type'] != 'levy' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Funding your apprentice's training
			</h2>


			<p class="das-minimal-section__description">
				Reserve apprenticeship funding to guarantee you receive funds to pay for your apprentice's training and assessment.
			</p>

			<p>
				<a href="?reserved-funding=yes" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Check funding availability and make a reservation
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}