<!-- ADD PAYE SCHEME -->
{% if data['add-paye-now'] != 'yes' and data['sign-agreement-now'] != 'yes' %}
<div class="das-minimal-section__wrapper">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Add your PAYE scheme to access your account
			</h2>


			<p class="das-minimal-section__description">
				Add your organisation’s PAYE scheme and sign your agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.
			</p>

			<p>
				<a href="add-paye" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Add your PAYE scheme
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}
<!-- END -->

<!-- SIGN AGREEMENT -->
{% if data['sign-agreement-now'] != 'yes' and data['add-paye-now'] == 'yes' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Sign your agreement to access apprenticeship funding
			</h2>


			<p class="das-minimal-section__description">
				Sign your agreement with the Education and Skills Funding Agency to access funding for apprenticeship training. 
			</p>

			<p>
				<a href="sign-agreement" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Sign your agreement
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}
<!-- END -->


<!-- START CTA LOGIC -->
<!-- ADDED PAYE, SIGNED AGREEMENT and NON-LEVY -->
{% if data['sign-agreement-now'] == 'yes' and data['add-paye-now'] == 'yes' and data['employer-type'] != 'levy' %}

<!-- NEW EMPLOYEE -->
{% if data['eligibility-recruit'] == 'new' %}
{% endif %}
<!-- END -->

<!-- RESERVED AND NOT CREATED VACANCY AND NO APPRENTICE DETAILS ADDED -->
{% if data['reservation-confirmed'] == 'true' and not data['vacancy-created'] and not data['apprenticeship-status'] %}
<section>
	<h2 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-4">
		Your apprenticeship
	</h2>

	<p class="govuk-!-margin-bottom-2">
		You have reserved funding for apprenticeship training.
	</p>

	{{ govukSummaryList({
		rows:[
		{
			key: 
			{
				text: "Course"
			},
			value:
			{
				text: data['course-name']
			}
		},
		{
			key: 
			{
				text: "Start month"
			},
			value: 
			{
				text: data['start-month']
			}
		}]
	})}}

	<form method="post" action="set-up-an-apprenticeship">
		{{govukButton({
			text: "Continue setting up your apprenticeship",
			href: "continue-set-up"
		})}}
	</form>
</section>
<!-- END -->

<!-- RESERVED AND CREATED VACANCY BUT NO DETAILS ADDED -->
{% elif data['reservation-confirmed'] == 'true' and data['vacancy-created'] and not data['apprenticeship-status'] %}
<section>
	<h2 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-4">
		Your apprenticeship
	</h2>

	<p class="govuk-!-margin-bottom-2">
		You have created a vacancy for your apprenticeship.
	</p>

	{{ govukSummaryList({
		rows:[
		{
			key: 
			{
				text: "Course"
			},
			value:
			{
				text: data['course-name']
			}
		},
		{
			key: 
			{
				text: "Start month"
			},
			value: 
			{
				text: data['start-month']
			}
		},
		{
			key: 
			{
				text: "Training provider"
			},
			value: 
			{
				text: "Your provider Co ltd"
			}
		},
		{
			key: 
			{
				text: "Vacancy"
			},
			value: 
			{
				html: '<a href="#">No applications yet</a>'
			}
		}]
	})}}


	<form method="post" action="set-up-an-apprenticeship">
		{{govukButton({
			text: "Go to your recruitment dashboard",
			href: "task--recruitment/recruitment-start"
		})}}
	</form>
</section>
<!-- END -->

{% elif data['reservation-confirmed'] == 'true' and data['apprenticeship-status'] %}
<section>
	<h2 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-4">
		Your apprentice
	</h2>

	{{ govukSummaryList({
		rows:[
		{
			key: 
			{
				text: "Name"
			},
			value:
			{
				text: data['apprentice']['first-name'] + ' ' + data['apprentice']['last-name']
			}
		},
		{
			key: 
			{
				text: "Training provider"
			},
			value:
			{
				text: data['provider-name']
			}
		},
		{
			key: 
			{
				text: "Course"
			},
			value:
			{
				text: data['course-name']
			}
		},
		{
			key: 
			{
				text: "Start month"
			},
			value: 
			{
				text: data['start-month']
			}
		},
		{
			key: 
			{
				text: "Finish month"
			},
			value: 
			{
				text: data['finish-month']
			}
		}]
	})}}


	<form method="post" action="set-up-an-apprenticeship">
		{{govukButton({
			text: "View apprentice details",
			href: "task--recruitment/recruitment-start"
		})}}
	</form>
</section>
<!-- END -->
{% endif %}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{% endif %}