{% extends "layout.html" %}

{% set serviceName %}
Prototype {{version}} config
{% endset %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<form method="post">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				{{serviceName}}
			</h1>

			{{ govukInput({
				label:
				{
					text: "Employer name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-name",
				name: "employer-name",
				value: data['employer-name']
			}) }}

			<h3 class="govuk-heading-m">
				Reservation
			</h3>
			{% set reserveHtml %}
			<div class="govuk-form-group">
				<label class="govuk-label" for="choose-apprenticeship">
					Course
				</label>

				<select id="course-name" name="course-name">
					<option value=""></option>
					{% for apprenticeship in data['apprenticeships'].apprenticeships %}
					{% set optionValue %}{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{' (Standard)' if apprenticeship.standard === true}}{% endset %}
					<option value="{{optionValue}}">{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{" (Standard)" if apprenticeship.standard === true}}</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#course-name" id="clear-search">Clear search</a>
				</p>
			</div>

			{{ govukInput({
				value: data['start-month'],
				label:
				{
					text: "Start month"
				},
				classes: "govuk-!-width-one-third",
				id: "start-month",
				name: "start-month"
			}) }}
			{% endset -%}

			{{ govukCheckboxes({
				idPrefix: "reserved-funding",
				name: "reserved-funding",
				items:
				[
				{
					value: "true",
					text: "Reserved funding",
					conditional:
					{
						html: reserveHtml
					},
					attributes:
					{
						checked: 'checked' if data['reserved-funding'] === 'true'
					}
				}
				]
			}) }}

			<hr class="govuk-section-break govuk-section-break--xl">
			<h3 class="govuk-heading-m">
				Vacancy & recruitment
			</h3>
			{{ govukSelect({
				id: "vacancy-status",
				name: "vacancy-status",
				classes: "govuk-!-width-full",
				label:
				{
					text: "Vacancy status"
				},
				items: [
				{
					value: "not-started",
					text: "Not started"
				},
				{
					value: "draft",
					text: "Draft"
				},
				{
					value: "submitted",
					text: "Submitted"
				},
				{
					value: "live",
					text: "Live"
				}
				]
			}) }}

			<hr class="govuk-section-break govuk-section-break--xl">
			<h3 class="govuk-heading-m">
				Add & approve
			</h3>
			{% set apprenticeshipHtml %}
			{{ govukSelect({
				id: "apprenticeship-status",
				name: "apprenticeship-status",
				classes: "govuk-!-width-full",
				label:
				{
					text: "Apprenticeship status"
				},
				items: [
				{
					value: "draft",
					text: "Draft"
				},
				{
					value: "with-provider",
					text: "With provider"
				},
				{
					value: "live",
					text: "Live"
				}
				]
			}) }}

			<h3 class="govuk-heading-s">
				Apprentice details
			</h3>
			{{ govukInput({
				value: data['apprentice']['first-name'],
				label:
				{
					text: "First name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "start-month",
				name: "apprentice[first-name]"
			}) }}
			{{ govukInput({
				value: data['apprentice']['last-name'],
				label:
				{
					text: "Last name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "start-month",
				name: "apprentice[last-name]"
			}) }}
			{% endset -%}
			
			{{ govukCheckboxes({
				idPrefix: "started-add-approve",
				name: "started-add-approve",
				items:
				[
				{
					value: "true",
					text: "Started adding details",
					conditional:
					{
						html: apprenticeshipHtml
					},
					attributes:
					{
						checked: 'checked' if data['reserved-funding'] === 'true'
					}
				}
				]
			}) }}

			{{govukButton({
				text: "Save"
			})}}
		</div>

		<div class="govuk-grid-column-one-third">
			{% call govukFieldset({
				legend:
				{
					text: "Scenarios",
					classes: "govuk-fieldset__legend--m",
					isPageHeading: true
				}
			}) %}
			{{ govukCheckboxes({
				idPrefix: "logged-in",
				name: "logged-in",
				items:
				[
				{
					value: "true",
					text: "Logged in",
					attributes:
					{
						checked: 'checked' if data['logged-in'] == 'true'
					}
				}
				]
			}) }}
			{{ govukCheckboxes({
				idPrefix: "add-paye-now",
				name: "add-paye-now",
				items:
				[
				{
					value: "yes",
					text: "Added PAYE",
					attributes:
					{
						checked: 'checked' if data['add-paye-now'] == 'yes'
					}
				}
				]
			})}}
			{{ govukCheckboxes({
				idPrefix: "sign-agreement-now",
				name: "sign-agreement-now",
				items:
				[
				{
					value: "yes",
					text: "Signed agreement",
					attributes:
					{
						checked: 'checked' if data['sign-agreement-now'] == 'yes'
					}
				}
				]
			}) }}
			{% endcall %}
		</div>
	</form>
</div>
{% endblock %}


{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#course-name'),
			showAllValues: true,
			defaultValue: ''
		})

		$('#clear-search').on('click', function(e) {
			e.preventDefault();
			$('#course-name').val("");
		})
	})
</script>
{% endblock %}