{% extends "layout.html" %}

{% set serviceName %}
Prototype {{version}} config
{% endset %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<form action="set-config" method="get">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				{{serviceName}}
			</h1>

			{{ govukInput({
				label:
				{
					text: "Employer name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-name",
				name: "employer-name",
				value: data['employer-name']
			}) }}

			{{ govukInput({
				value: data['employer-email'],
				label:
				{
					text: "Employer email"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-email",
				name: "employer-email"
			}) }}

			{{ govukInput({
				value: data['employer-user-name'],
				label:
				{
					text: "Employer user name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-user-name",
				name: "employer-user-name"
			}) }}


			{{ govukInput({
				value: data['provider-name'],
				label:
				{
					text: "Provider name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "provider-name",
				name: "provider-name"
			}) }}
			{{ govukInput({
				value: data['provider-ukprn'],
				label:
				{
					text: "Provider UKPRN"
				},
				classes: "govuk-!-width-one-third",
				id: "provider-ukprn",
				name: "provider-ukprn"
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</div>

		<div class="govuk-grid-column-one-third">
			{% call govukFieldset({
				legend:
				{
					text: "Scenarios",
					classes: "govuk-fieldset__legend--m",
					isPageHeading: true
				}
			}) %}
			{{ govukCheckboxes({
				idPrefix: "logged-in",
				name: "logged-in",
				items:
				[
				{
					value: "true",
					text: "Logged in",
					attributes:
					{
						checked: 'checked' if data['logged-in'] == 'true'
					}
				}
				]
			}) }}
			{{ govukCheckboxes({
				idPrefix: "add-paye-now",
				name: "add-paye-now",
				items:
				[
				{
					value: "yes",
					text: "Added PAYE",
					attributes:
					{
						checked: 'checked' if data['add-paye-now'] == 'yes'
					}
				}
				]
			})}}
			{{ govukCheckboxes({
				idPrefix: "sign-agreement-now",
				name: "sign-agreement-now",
				items:
				[
				{
					value: "yes",
					text: "Signed agreement",
					attributes:
					{
						checked: 'checked' if data['sign-agreement-now'] == 'yes'
					}
				}
				]
			}) }}

			{% set courseHtml %}
			<div class="govuk-form-group">
				<label class="govuk-label" for="choose-apprenticeship">
					Search for a course
				</label>

				<select id="course-name" name="course-name">
					<option value=""></option>
					{% for apprenticeship in data['apprenticeships'].apprenticeships %}
					{% set optionValue %}{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{' (Standard)' if apprenticeship.standard === true}}{% endset %}
					<option value="{{optionValue}}" {{"selected" if optionValue === data['course-name']}} >{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{" (Standard)" if apprenticeship.standard === true}}</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#course-name" id="clear-search">Clear search</a>
				</p>
			</div>
			{% endset -%}

			{{ govukCheckboxes({
				idPrefix: "reserved-funding",
				name: "reserved-funding",
				items:
				[
				{
					value: "true",
					text: "Reserved funding",
					conditional:
					{
						html: courseHtml
					},
					attributes:
					{
						checked: 'checked' if data['reserved-funding'] === 'true'
					}
				}
				]
			}) }}

			{{ govukSelect({
				id: "vacancy-status",
				name: "vacancy-status",
				classes: "govuk-!-width-full",
				label:
				{
					text: "Vacancy status"
				},
				items: [
				{
					value: "not-started",
					text: "Not started"
				},
				{
					value: "draft",
					text: "Draft"
				},
				{
					value: "submitted",
					text: "Submitted"
				},
				{
					value: "live",
					text: "Live"
				}
				]
			}) }}
			{% endcall %}
		</div>
	</form>
</div>
{% endblock %}


{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#course-name'),
			showAllValues: true,
			defaultValue: ''
		})

		$('#clear-search').on('click', function(e) {
			e.preventDefault();
			$('#course-name').val("");
		})
	})
</script>
{% endblock %}