{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% set courseHtml %}
			<div class="govuk-form-group">
				<label class="govuk-label" for="choose-apprenticeship">
					Search for a course
				</label>

				<select id="course-name" name="course-name">
					<option value=""></option>
					{% for apprenticeship in data['apprenticeships'].apprenticeships %}
					{% set optionValue %}{{apprenticeship.value}}*{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{' (Standard)' if apprenticeship.standard === true}}{% endset %}
					<option value="{{optionValue}}" {{"selected" if optionValue === data['course-name']}} >{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{" (Standard)" if apprenticeship.standard === true}}</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#course-name" id="clear-search">Clear search</a>
				</p>
			</div>
			{% endset %}

			{% set providerHtml %}
			<div class="govuk-form-group govuk-!-width-full">
				<label class="govuk-label" for="choose-apprenticeship">
					Search providers
				</label>

				<select id="provider-name" name="provider-name">
					<option value=""></option>
					{% for provider in data['providers'].providers %}
					<option value="{{provider.name}}*{{provider.UKPRN}}" {{"selected" if provider.name === data['provider-name']}} >{{provider.name}} ({{provider.UKPRN}})</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#provider-name" id="clear-search">Clear search</a>
				</p>
			</div>
			{% endset %}

			{{ govukRadios({
				idPrefix: "eligibility-course-provider",
				name: "eligibility-course-provider",
				fieldset:
				{
					legend:
					{
						text: "Which details do you know about the apprenticeship?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
					}
				},
				items: [
				{
					value: "provider-only",
					text: "Only the training provider",
					conditional:
					{
						html: providerHtml
					}
				},
				{
					value: "course-only",
					text: "Only the apprenticeship training course",
					conditional:
					{
						html: courseHtml
					}
				},
				{
					value: "yes",
					text: "Both the training provider and the apprenticeship training course"
				},
				{
					value: "no",
					text: "None of the above"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#course-name'),
			showAllValues: true,
			defaultValue: ''
		})

		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#provider-name'),
			showAllValues: true,
			defaultValue: ''
		})

		$('#clear-search').on('click', function(e) {
			e.preventDefault();
			$('#course-name').val("");
		})
	})
</script>
{% endblock %}