{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			You need to know the training course and training provider 
		</h1>

		<p>
			Based on your answer, you need to know the apprenticeship course and choose the training provider who will deliver the training.
		</p>

		<p>
			You can use <a href="#">Find apprenticeship training</a> to:
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>search for apprenticeship training</li>
			<li>find your training provider's contact details.</li>
		</ul>

		{{govukButton({
			text: "Find apprenticeship training",
			classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-1",
			href: "https://findapprenticeshiptraining.apprenticeships.education.gov.uk/",
			attributes:
			{
				target: "_blank"
			}
		})}}

		<p class="govuk-!-font-size-16 govuk-!-margin-top-1">
			Opens in a new window or tab
		</p>
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}