{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Contact your training provider to find out the apprenticeship start date
		</h1>

		<p>
			Based on your answers, you need to find out when the apprentice will start their training.
		</p>

		<p>
			Your training provider should be able to let you know when the apprentice's training will start. You can use <a href="#">Find apprenticeship training</a> if you need to find your training provider's contact details.
		</p>

		{{govukButton({
			text: "Return to your account",
			classes: "govuk-!-margin-top-4",
			href: "account-home"
		})}}
	</div>
</div>
{% endblock %}