{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "eligibility-course-provider",
				name: "eligibility-course-provider",
				fieldset:
				{
					legend:
					{
						text: "Do you know which course the apprentice will take and the name of the training provider that will deliver the training?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
					}
				},
				hint:
				{
					text: "Here is some help text."
				},
				items: [
				{
					value: "yes",
					text: "Yes, I know the course and the provider"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}