<div class="header-organisation" role="navigation">
    <nav class="header-inner">
        <ul id="global-nav-links"><li>
            <a href="/{{version}}/account-home" class="{{'selected' if currentPage == 'home' }}" role="menuitem">Home</a>
        </li><li>
            <a href="#" class="" role="menuitem">Finance</a>
        </li><li>
            <a href="/{{version}}/recruit" role="menuitem" class="{{'selected' if currentPage == 'recruit' }}">Recruitment</a>
        </li><li>
            <a href="#" class="" role="menuitem">Apprentices</a>
        </li><li>
            <a href="#" class="" role="menuitem">Your team</a>
        </li><li>
            <a href="#" class="" role="menuitem">Your organisations and agreements</a>
        </li><li class="menu-link"><a href="#">More</a><ul><li>
            <a href="#" class="" role="menuitem">PAYE schemes</a>
        </li></ul></li></ul>
    </nav>
</div>