<div class="header-organisation" role="navigation" style="border: none">
    <nav class="header-inner" style="border-bottom: 1px solid #aaa">
        <ul id="global-nav-links">
            <li>
                <a href="account-home" class="selected govuk-!-font-size-16" role="menuitem">Home</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">Finance</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">Recruitment</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">Apprentices</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">Your team</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">Your organisations and agreements</a>
            </li>
            <li>
                <a href="#" class="govuk-!-font-size-16" role="menuitem">PAYE schemes</a>
            </li>
        </ul>
    </nav>
</div>