<div class="header-organisation" role="navigation">
    <nav class="header-inner">
        <ul id="global-nav-links"><li>
            <a href="/accounts/8NJGBL/teams" class="selected" role="menuitem">Home</a>
        </li><li>
            <a href="https://finance.pp-eas.apprenticeships.education.gov.uk/accounts/8NJGBL/finance" class="" role="menuitem">Finance</a>
        </li><li>
            <a href="https://recruit.pp-eas.apprenticeships.education.gov.uk/accounts/8NJGBL" role="menuitem">Recruitment</a>
        </li><li>
            <a href="https://pp-eas.apprenticeships.education.gov.uk/commitments/accounts/8NJGBL/apprentices/home" class="" role="menuitem">Apprentices</a>
        </li><li>
            <a href="/accounts/8NJGBL/teams/view" class="" role="menuitem">Your team</a>
        </li><li>
            <a href="/accounts/8NJGBL/agreements" class="" role="menuitem">Your organisations and agreements</a>
        </li><li class="menu-link"><a href="#">More</a><ul><li>
            <a href="/accounts/8NJGBL/schemes" class="" role="menuitem">PAYE schemes</a>
        </li></ul></li></ul>
    </nav>
</div>