// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "node_modules/govuk-frontend/all";
@import "node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout";
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/panels";
@import "node_modules/accessible-autocomplete/src/autocomplete";


// DAS patterns
@import "helpers/das-utilities";
@import "helpers/das-arrows";
@import "helpers/das-colours";
@import "helpers/das-images";
@import "patterns/das-sections";
@import "patterns/das-panels";
@import "patterns/das-panel";
@import "components/das-buttons";
@import "components/das-definition-lists";
@import "components/das-section-break";
@import "components/das-dashboard-header";
@import "components/das-promo";
@import "components/das-dashboard-footer";
@import "patterns/das-account-header";
@import "components/das-header";
@import "components/das-user-navigation";
@import "components/das-search";
@import "components/das-nav";
@import "components/das-tabs--apprentices";
@import "components/das-item-list";
@import "patterns/das-minimal-sections";
@import "components/sfa-menu";
@import "components/das-account-header";
@import "components/app-tags";
@import "components/app-summary-list";
@import "components/app-task-list";
@import "components/app-alert";
@import "components/das-account-header-v2";
@import "components/raa-card";


// fix for autocomplete
.autocomplete__wrapper {
	@include govuk-typography-common();
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.das-body {
	background: govuk-colour('grey-4') !important
}

.app-account-header {
	background: white;
	padding: $govuk-gutter 0;
}

.app-account-main {
	padding-top: $govuk-gutter
}

.app-cta-box {
	padding: $govuk-gutter;
	margin-bottom: $govuk-gutter;
	background: white;

	&.app-cta-box--main {
		background: govuk-colour("blue");

		p,
		a {
			color: white;
		}

		.app-cta-box__heading {
			@extend .govuk-heading-l;
			color: white;
		}
	}

	.app-cta-box__heading {
		@extend .govuk-heading-m;
	}
}

.govuk-grid-column-two-fifths {
	@include grid-column( 2/5, $full-width: tablet );
}

.govuk-grid-column-three-fifths {
	@include grid-column( 3/5, $full-width: tablet );
}
