<!-- ADD PAYE SCHEME -->
{% if data['add-paye-now'] != 'yes' and data['sign-agreement-now'] != 'yes' %}
<div class="das-minimal-section__wrapper">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Add your PAYE scheme to access your account
			</h2>


			<p class="das-minimal-section__description">
				Add your organisation’s PAYE scheme and sign your agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.
			</p>

			<p>
				<a href="?add-paye-now=yes" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Add your PAYE scheme
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- SIGN AGREEMENT -->
{% if data['sign-agreement-now'] != 'yes' and data['add-paye-now'] == 'yes' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Sign your agreement to access apprenticeship funding
			</h2>


			<p class="das-minimal-section__description">
				Sign your agreement with the Education and Skills Funding Agency to access funding for apprenticeship training. 
			</p>

			<p>
				<a href="?sign-agreement-now=yes" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Sign your agreement
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- START NOW -->
{% if data['sign-agreement-now'] == 'yes' and data['add-paye-now'] == 'yes' and data['reserved-funding'] != 'yes' and data['employer-type'] != 'levy' and data['started'] != 'true' %}
<h2 class="govuk-heading-l govuk-!-margin-top-2">
	Take on an apprentice: step by step
</h2>
<p class="govuk-body-l">
	Reserve apprenticeship funding, find apprenticeship training, create a vacancy, add a training provider and add your apprentice record.
</p>

<a href="task-list" {% include './_new-tab-shortcut.html' %} class="govuk-button govuk-button--start">Get started</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="border-width: 2px">
{% endif %}

<!-- CONTINUE -->
{% if data['sign-agreement-now'] == 'yes' and data['apprentice-approved'] != 'true' and data['started'] == 'true' %}
<h2 class="govuk-heading-l govuk-!-margin-top-2">
	Continue taking on an apprentice
</h2>
<p class="govuk-body-l">
	Reserve apprenticeship funding, find apprenticeship training, create a vacancy, add a training provider and add your apprentice record.
</p>
{{govukButton({
	text: "Continue",
	href: "task-list"
})}}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="border-width: 2px">
{% endif %}

{% if data['sign-agreement-now'] == 'yes' and data['apprentice-approved'] == 'true' %}
<h3 class="govuk-heading-l">
	Your apprentice
</h3>

{{ govukSummaryList({
	classes: "govuk-!-font-size-16",
	rows: [
	{
		key:
		{
			text: "Name"
		},
		value:
		{
			text: "Sarah Philips"
		}
	},
	{
		key:
		{
			text: "Training provider"
		},
		value: 
		{
			text: "ABC Training Limited"
		}
	},
	{
		key:
		{
			text: "Training course"
		},
		value: 
		{
			text: "Advanced butcher"
		}
	},
	{
		key:
		{
			text: "Apprenticeship start date"
		},
		value:
		{
			text: 'September 2019'
		}
	},
	{
		key:
		{
			text: "Planned end date"
		},
		value: 
		{
			text: "June 2021"
		}
	},
	{
		key:
		{
			text: "Agreed apprenticeship training price"
		},
		value: 
		{
			text: "£1,500 excluding VAT"
		}
	}
	]
}) }}

<p class="govuk-!-margin-bottom-8">
	<a href="#">View apprentice details</a>
</p>

{% block reviewButton %}{% endblock %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="border-width: 2px">
{% endif %}