{% extends "layout.html" %}

{% block pageTitle %}
Take on an apprentice - Prototype
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back to your account",
	href: "account-home?sign-agreement-now=yes&add-paye-now=yes"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Start a new apprenticeship
		</h1>

		<p>
			Fill in the sections below to start a new apprenticeship in your organisation.
		</p>


		{% set doneTagHtml %}
		<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>
		{% endset %}

		{% set optionalTagHtml %}
		<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>Optional</strong>
		{% endset %}

		{% set todoTagHtml %}
		<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>To-do</strong>
		{% endset %}

		{% set providerHtml %}
		<h2 class="app-task-list__heading">
			<a href='g--found-provider?return-to-task-list=true'>Training provider</a>
		</h2>
		<div class="app-task-list__content">
			<p>
				Ut aute fugiat eu sed id ut dolore sint esse pariatur ullamco cillum qui commodo culpa.
			</p>
			<p>
				<a href="#" class="govuk-button govuk-!-margin-bottom-0">Start section</a>
			</p>
		</div>
		{% endset %}

		{% set startDateHtml %}
		<h2 class="app-task-list__heading">
			<a href='g--found-provider?return-to-task-list=true'>Training start date</a>
		</h2>
		<div class="app-task-list__content">
			<p>
				Ut aute fugiat eu sed id ut dolore sint esse pariatur ullamco cillum qui commodo culpa.
			</p>
			<p>
				<a href="#" class="govuk-button govuk-!-margin-bottom-0">Start section</a>
			</p>
		</div>
		{% endset %}

		{% set courseHtml %}
		<h2 class="app-task-list__heading">
			<a href='g--found-provider?return-to-task-list=true'>Apprenticeship training course</a>
		</h2>
		<p class="govuk-!-font-size-16">
			<a href="#" class="show-hide">Show</a>
		</p>
		{% endset %}

		{% set fundingHtml %}
		<h2 class="app-task-list__heading">
			<a href='g--found-provider?return-to-task-list=true'>Funding</a>
		</h2>
		<p class="govuk-!-font-size-16">
			<a href="#" class="show-hide">Show</a>
		</p>
		{% endset %}

		{{ govukTable({
			classes: "app-task-list app-task-list--sections",
			firstCellIsHeader: true,
			rows: [
			[
			{
				html: providerHtml
			},
			{
				html: doneTagHtml if data['confirm-provider-details'] == 'yes' and data['found-provider'] == 'yes' else todoTagHtml,
				classes: "app-task-list__status"
			}
			],
			[
			{
				html: courseHtml
			},
			{
				html: doneTagHtml if data['course-name'] else todoTagHtml,
				classes: "app-task-list__status"
			}
			],
			[
			{
				html: startDateHtml
			},
			{
				html: doneTagHtml if data['start-date'] else todoTagHtml,
				classes: "app-task-list__status"
			}
			],
			[
			{
				html: fundingHtml
			},
			{
				html: doneTagHtml if data['reserve-funding'] == 'true' else todoTagHtml,
				classes: "app-task-list__status"
			}
			],
			[
			{
				html: "<a href='q--need-vacancy?return-to-task-list=true' class='govuk-!-font-size-24'>Recruitment</a>"
			},
			{
				html: todoTagHtml if data['need-vacancy'] != 'no' else doneTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Apprentice details</a>"
			},
			{
				html: doneTagHtml if data['found-apprentice'] == 'yes' else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<span class='govuk-!-font-size-24' style='color:#999'>Confirm apprenticeship details</span>"
			},
			{
				html: "<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>Do last</strong>",
				format: 'numeric'
			}
			]
			]
		}) }}

		<p class="govuk-!-margin-top-8">
			<a href="account-home?sign-agreement-now=yes&add-paye-now=yes">Save and return to your account</a>
		</p>
	</div>

	{% endblock %}

	{% block pageScripts %}
	<script>
		$(document).ready(function(){
			$('.app-task-list__content').each(function(){
				let content = $(this);
				let buttonHtml = '<p class="govuk-!-font-size-16"><a href="#training-provider" class="show-hide">Show</a></p>';

				content
				.hide()
				.before(buttonHtml);

				content.parent().on('click', '.show-hide', function(){
					let button = $(this);

					content.toggle()

					if(content.is(':visible')){
						button.html('Hide')
					} else {
						button.html('Show')
					}
				})
			})
		})
	</script>
	{% endblock %}