<div class="govuk-width-container">
	<h3 class="govuk-heading-s">
		Employer emails
	</h3>
	<ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet">
		<li>
			<a href="emails/employer-added-provider-accepted">Approved by provider</a>
		</li>
		<li>
			<a href="emails/employer-added-provider-changed">Changed by provider</a>
		</li>
		<li>
			<a href="emails/employer-added-provider-rejected">Rejected by provider</a>
		</li>
	</ul>

	<h3 class="govuk-heading-s">
		Provider emails
	</h3>
	<ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet">
		<li>
			<a href="../change-provider-pas-1-0/emails/provider-notification">Employer request notification</a>
		</li>
		<li>
			<a href="../change-provider-pas-1-0/emails/provider-add-details">Employer requests provider add details</a>
		</li>
	</ul>
</div>