{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['change-provider']['apprentice-status'] == 'pending-confirmation' %}
		<div class="app-alert app-alert--success govuk-!-margin-bottom-0">
			<h2 class="govuk-heading-l govuk-!-margin-bottom-0" style="text-align: center;">
				Apprenticeship stopped
			</h2>
		</div>

		<div class="govuk-inset-text">
			<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
				Changes for review
			</h2>
			<p class="govuk-!-margin-bottom-4">
				There are changes to this apprentice's details that you need to review.
			</p>

			<p>
				<a href="#">View changes</a>
			</p>
		</div>
		{% elif data['change-provider']['apprentice-status'] == 'stopped-changing' %}
		<div class="app-alert app-alert--success govuk-!-margin-bottom-0">
			<h2 class="govuk-heading-l govuk-!-margin-bottom-0" style="text-align: center;">
				Apprenticeship stopped
			</h2>
		</div>

		<div class="govuk-inset-text">
			<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
				Changes pending
			</h2>
			<p class="govuk-!-margin-bottom-4">
				There are changes to this apprentice's details that are waiting for approval by the training provider.
			</p>

			<p>
				<a href="#">View changes</a>
			</p>
		</div>
		{% endif %}

		<h1 class="govuk-heading-xl">
			Darren Diamond
		</h1>

		<p>
			Edit details if there's a change in apprentice or apprenticeship circumstances.
		</p>

		<form method="post" class="form">
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Status
					</dt>
					<dd class="govuk-summary-list__value">
						{% if data['change-provider']['apprentice-status'] == 'stopped-changing' %}
						Stopped (changing provider)
						{% elif data['change-provider']['apprentice-status'] == 'stopped' %}
						Stopped
						{% elif data['change-provider']['apprentice-status'] == 'live' %}
						Live
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if data['change-provider']['apprentice-status'] == 'live' %}
						<a href="change-apprentice-status">
							Edit status
						</a>
						{% endif %}
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Training provider
					</dt>
					<dd class="govuk-summary-list__value">
						{% if data['change-provider']['apprentice-status'] == 'stopped-changing' %}
						{{ data['change-provider']['current-provider']['name'] }}
						{% else %}
						{{ data['change-provider']['new-provider']['name'] or data['change-provider']['current-provider']['name']}}
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if data['change-provider']['apprentice-status'] != 'stopped-changing' %}
						<a href="change-provider-warning">
							Change<span class="govuk-visually-hidden"></span>
						</a>
						{% endif %}
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Cohort reference
					</dt>
					<dd class="govuk-summary-list__value">
						VKKG8P
					</dd>
					<dd class="govuk-summary-list__actions">
						<a href="#">
							<span class="govuk-visually-hidden">Edit reference</span>
						</a>
					</dd>
				</div>
			</dl>

			<!--only add a heading for a list if there is more than one list-->
			<h2 class="govuk-heading-m">
				Apprentice details
				<!--<span style="float:right; text-align:right; font-weight:400; font-size:19px;"><a href="#">Edit</a></span>-->
			</h2>

			<dl class="govuk-summary-list govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Name
					</dt>
					<dd class="govuk-summary-list__value">
						Darren Diamond
					</dd>
					<dd class="govuk-summary-list__actions">
						<a href="apprentice-details#name">
							<span class="govuk-visually-hidden">Edit name</span>
						</a>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Unique learner number
					</dt>
					<dd class="govuk-summary-list__value">
						123456789A
					</dd>
					<dd class="govuk-summary-list__actions">
						<a href="#">
							<span class="govuk-visually-hidden"> </span>
						</a>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Date of birth
					</dt>
					<dd class="govuk-summary-list__value">
						5 January 2002
					</dd>
					<dd class="govuk-summary-list__actions">
						<a href="#">
							<span class="govuk-visually-hidden">Edit date of birth</span>
						</a>
					</dd>
				</div>
			</dl>

			<h2 class="govuk-heading-m">
				Apprenticeship details
			</h2>

			<dl class="govuk-summary-list govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Apprenticeship training course
					</dt>
					<dd class="govuk-summary-list__value">
						Bespoke Saddler, Level 5 (Standard)
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Planned training start date
					</dt>
					<dd class="govuk-summary-list__value">
						February 2019
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Planned training finish date
					</dt>
					<dd class="govuk-summary-list__value">
						March 2021
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Total agreed apprenticeship price
					</dt>
					<dd class="govuk-summary-list__value">
						£5,000 excluding VAT
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Reference
					</dt>
					<dd class="govuk-summary-list__value">
						ABC123
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						End-point assessor
					</dt>
					<dd class="govuk-summary-list__value">
						The end-point assessor has not been declared
					</dd>
				</div>
			</dl>
		</form>
	</div>
</div>
{% endblock %}