{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "Are you sure you want to cancel this request?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl govuk-!-padding-bottom-6"
				}
			}) %}

			<p class="govuk-body govuk-!-padding-bottom-6">If you select yes, we will not save any changes you made. [old training provider name] will continue as [apprentice name]’s training provider.</p>
			

			{{ govukRadios({
				idPrefix: "cancel-confirm",
				name: "cancel-confirm",
				items: [
				{
					value: "Yes",
					text: "Yes"
				},
				{
					value: "No",
					text: "No"
				}
				]
			})}}
			{% endcall %}

			{{govukButton({
				classes: "govuk-!-margin-top-4",
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}