{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}


{% block content %}
<div class="app-inverted govuk-!-padding-8">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l app-heading-l--inverted">
				Changing training provider
			</h1>
			<div class="app-body--inverted">
				{{ govukWarningText({
					text: "When you change an apprentice's training provider, their apprenticeship record with the current training provider will be stopped.",
					classes: "app-body--inverted",
					iconFallbackText: "Warning"
				}) }}

				<p class="app-body--inverted">
					Before you request this change, you must contact the new training provider to agree the new training
					dates and price.
				</p>

				<p class="app-body--inverted">
					You should only change your apprentice’s training provider if:
				</p>
				<ul class="govuk-list govuk-list--bullet app-body--inverted">
					<li>
						you’re not happy with their performance
					</li>
					<li>
						they’ve stopped delivering the apprentice’s training course
					</li>
					<li>
						they’re shutting down or have already shut down
					</li>
				</ul>
			</div>

			{% if data['change-provider']['apprentice-status'] != 'stopped' %}
			<a href="stopped-check" class="govuk-button app-button--inverted govuk-!-margin-top-2"
				data-module="govuk-button">
				<b>Continue</b>
			</a>
			{% else %}
			<a href="choose-new-training-provider" class="govuk-button app-button--inverted govuk-!-margin-top-2"
				data-module="govuk-button">
				<b>Continue</b>
			</a>
			{% endif %}

			<p class="govuk-body-s govuk-!-margin-top-0">
				<a class="app-link--inverted" href="#">Cancel and return to account home</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}