{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukPanel({
				titleText: "Change of training provider requested",
				attributes:
				{
					style: "background: #00703c"
				}
			}) }}

			<p>
				We've stopped Darren Diamond’s apprenticeship record with their current training provider
			</p>
			
			<p>
				We will create a new record in your apprenticeship service account once you both approve the details.
			</p>

			<h2 class="govuk-heading-m govuk-!-margin-top-6">
				What happens next
			</h2>

			{% if data['dates-cost'] == 'employer' %}
			<p>
				We'll ask {{data['change-provider']['new-provider']['name']}} to check the details of this change. If they make any changes, it will come back to you.
			</p>
			<p>
				You and [new training provider] must both approve the apprentice's details. 
			</p>
			{% else %}
			<p>
				We'll ask {{data['change-provider']['new-provider']['name']}} to enter the new apprenticeship dates and price. Once they've added [apprentice name]’s apprenticeship details, you can sign in to view them.
			</p>
			{% endif %}

			<p>
				Once you both approve them, {{data['change-provider']['new-provider']['name']}} will become [apprentice name]’s new training provider.
			</p>

			<p>
				<a href="account-home" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}

{% block footerShortcuts %}
{% include './_footer-shortcuts.html' %}
{% endblock %}