{% extends "layout.html" %}

{% set serviceName %}
Prototype {{version}} config
{% endset %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<form method="post">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				{{serviceName}}
			</h1>

			{{ govukInput({
				label:
				{
					text: "Employer name"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-name",
				name: "employer-name",
				value: data['employer-name']
			}) }}

			
			{{ govukSelect({
				id: "apprenticeship-status",
				name: "change-provider[apprentice-status]",
				classes: "govuk-!-width-two-thirds",
				label:
				{
					text: "Apprenticeship status"
				},
				items: [
				{
					value: "stopped",
					text: "Stopped"
				},
				{
					value: "live",
					text: "Live"
				}
				]
			}) }}

			<!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
				Apprentice details
			</h3>
			<div class="govuk-grid-row govuk-!-margin-bottom-6">
				<div class="govuk-grid-column-one-half">
					{{ govukInput({
						value: data['apprentice']['first-name'],
						label:
						{
							text: "First name"
						},
						classes: "govuk-!-width-two-thirds",
						id: "start-month",
						name: "apprentice[first-name]"
					}) }}
				</div>
				<div class="govuk-grid-column-one-half">
					{{ govukInput({
						value: data['apprentice']['last-name'],
						label:
						{
							text: "Last name"
						},
						classes: "govuk-!-width-full",
						id: "start-month",
						name: "apprentice[last-name]"
					}) }}
				</div>
			</div> -->

			{{govukButton({
				text: "Save",
				classes: "govuk-button--start govuk-!-margin-top-8  govuk-!-margin-bottom-2"
			})}}

			<div class="govuk-inset-text">
				<h3 class="govuk-heading-s">
					or use this URL:
				</h3>
				<p class="govuk-!-font-size-16">
					<a href="" id="urlValue"></a>
				</p>
			</div>
		</div>

		<div class="govuk-grid-column-one-third">
			{% call govukFieldset({
				legend:
				{
					text: "Scenarios",
					classes: "govuk-fieldset__legend--m",
					isPageHeading: true
				}
			}) %}
			{{ govukCheckboxes({
				idPrefix: "logged-in",
				name: "logged-in",
				items:
				[
				{
					value: "true",
					text: "Logged in",
					attributes:
					{
						checked: 'checked' if data['logged-in'] == 'true'
					}
				}
				]
			}) }}

			{{ govukCheckboxes({
				idPrefix: "add-paye-now",
				name: "add-paye-now",
				items:
				[
				{
					value: "yes",
					text: "Added PAYE",
					attributes:
					{
						checked: 'checked' if data['add-paye-now'] == 'yes'
					}
				}
				]
			})}}
			{{ govukCheckboxes({
				idPrefix: "sign-agreement-now",
				name: "sign-agreement-now",
				items:
				[
				{
					value: "yes",
					text: "Signed agreement",
					attributes:
					{
						checked: 'checked' if data['sign-agreement-now'] == 'yes'
					}
				}
				]
			}) }}
			{% endcall %}
		</div>
	</form>
</div>
{% endblock %}


{% block pageScripts %}
<script>
	$(document).ready(function(){
		function updateUrl() {
			var newUrl = window.location.href.replace("config", "account-home") + "?" + $('form').serialize();
			$('#urlValue').html(newUrl).attr('href',newUrl)
			console.log(newUrl)
		}

		updateUrl()

		$('body').on('change keyup', ['input','select'], function(){
			updateUrl()
		})
	})
</script>
{% endblock %}