{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		
		
		<form method="post">
			
			
			
			{{ govukInput({
				label:
				{
					text: "What is the agreed cost of completing the training with [new training provider name]?",
					classes: "govuk-label--xl govuk-!-margin-bottom-6",
					isPageHeading: true
				},
				prefix:
				{
					text: "Hello world?"
				},
				classes: "govuk-input--width-10",
				id: "new-price",
				name: "change-provider[new-price]",
				inputmode: "numeric",
				pattern: "[0-9]*",
				spellcheck: false,
				hint:
				{
					html: '
					<p class="gov-body">This is the price you agreed with [new training provider name] to complete the remainder of the apprenticeship training and assessment.</p>
					<div id="event-name-hint" class="govuk-hint">For example, 5000</div>
					'
				}
			}) }}

			{{govukButton({
				classes: "govuk-!-margin-top-4",
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}