{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "Has Darren Diamond stopped training with " + data['change-provider']['current-provider']['name'] + "?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			}) %}

			<!-- <p class="govuk-body">
				Choose from training providers you’ve worked with before or <a href="#">add a new training provider.</a>
			</p> -->

			{% set stoppedDate %}
			<div class="govuk-form-group">
				{% call govukFieldset({
					legend:
					{
						text: "Enter the date the training stopped",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--s"
					}
				}) %}

				<span id="stop-date-hint" class="govuk-hint">
					For example, 04 2020
				</span>

				<div class="govuk-date-input" id="stop-date">
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="stop-date-month">
								Month
							</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="stop-date-month" name="change-provider[stop-date-month]" type="text" pattern="[0-9]*" inputmode="numeric">
						</div>
					</div>
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="stop-date-year">
								Year
							</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="stop-date-year" name="change-provider[stop-date-year]" type="text" pattern="[0-9]*" inputmode="numeric">
						</div>
					</div>
				</div>

				{% endcall %}
			</div>
			{% endset %}
			{{ govukRadios({
				idPrefix: "stopped-check",
				name: "stopped-check",
				items: [
				{
					value: "true",
					text: "Yes, they've stopped",
					conditional:
					{
						html: stoppedDate
					}
				},
				{
					value: "false",
					text: "No, they're still training"
				}
				]
			})}}
			{% endcall %}

			{{govukButton({
				classes: "govuk-!-margin-top-4",
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}