{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "account-home"
  },
  {
    text: "Create an apprenticeship for your organisation"
  }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an apprenticeship for your organisation</h1>

    <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>do something</li>
      <li>this other thing</li>
      <li>something else</li>
    </ul>

    <p class="govuk-body">Registering takes around 5 minutes.</p>

    {{ govukButton({
      text: "Start now",
      href: "q--know-course",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">Do this thing by reading <a class="govuk-link" href="#">this thing</a>.</p>

    <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

    <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
  </div>
</div>
{% endblock %}