{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl govuk-!-margin-top-4">
				Get apprenticeship funding
			</h1>

			<p>
				If you're ready to pay for your apprenticeship training, you can do this now by adding the PAYE scheme for your organisation.
			</p>

			<p>
				If you do not need to get apprenticeship funding yet, you can still register an account to:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>search and save apprenticeships</li>
				<li>save your chosen training providers</li>
			</ul>

			<p>
				To get apprenticeship funding now, you can use either of the following:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>the Government Gateway login for your PAYE scheme</li>
				<li>your account office reference number and employer PAYE scheme reference</li>
			</ul>

			{{ govukDetails({
				summaryText: "Find your Government Gateway login for your PAYE scheme",
				text: "Ut officia dolor in adipisicing cupidatat tempor tempor consectetur consequat minim consequat elit laboris in magna minim do magna veniam."
			}) }}

			{{ govukDetails({
				summaryText: "Find your accounts office and PAYE scheme reference numbers",
				text: "Eiusmod cupidatat pariatur duis nisi tempor tempor ut tempor eu nisi mollit ut in velit nostrud nostrud ut ad fugiat qui consequat nostrud ad reprehenderit nostrud dolore aliqua."
			}) }}

			{{ govukRadios({
				idPrefix: "add-paye-now",
				name: "add-paye-now",
				fieldset:
				{
					legend:
					{
						text: "Do you want to add a PAYE scheme to get apprenticeship funding?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m"
					}
				},
				items: [
				{
					value: "yes",
					text: "Yes, add my PAYE scheme details now"
				},
				{
					value: "no",
					text: "No, I'll do this later"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}
