{% extends "./layout-pas.html" %}

{% set currentPage = 'home' %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "Enter the new training provider’s name or reference number (UKPRN)",
					classes: "govuk-fieldset__legend--xl",
					isPageHeading: true
				}
			}) %}

			<p class="govuk-!-margin-bottom-3 govuk-!-margin-top-2">
				A UKPRN is the unique, 8-digit number we use to identify a training provider. Ask your training provider if you do not know it.
			</p>

			<div class="govuk-form-group govuk-!-width-full">
				<select id="provider-name" name="change-provider[provider][name]">
					<option value=""></option>
					{% for provider in data['providers'].providers %}
					<option value="{{provider.name}}" {{"selected" if provider.name === data['provider-name']}} >{{provider.name}} ({{provider.UKPRN}})</option>
					{% endfor %}
				</select>

<!-- 				<p class="govuk-!-margin-top-2">
					<a href="#provider-name" id="clear-search">Clear search</a>
				</p> -->
			</div>
			{% endcall %}

			{{govukButton({
				classes: "govuk-!-margin-top-4",
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#provider-name'),
			showAllValues: true,
			defaultValue: ''
		})
	})
</script>
{% endblock %}