{% extends "./layout-pas.html" %}

{% set currentPage = 'home' %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% if data['confirm-request'] == 'no' %}
			{{ govukPanel({
				titleText: "You rejected " + data['employer-name'] + "’s request",
				classes: "govuk-!-margin-top-8",
				attributes:
				{
					style: "background: #00703c"
				}
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-6">
				What happens next
			</h2>
			<p>
				We’ll let {{data['employer-name']}} know that you have not accepted their request to become Darren Diamond’s training provider.
			</p>

			{% else %}
			
			{{ govukPanel({
				titleText: "You’ve confirmed Darren Diamond's apprenticeship details" if data['change-provider-journey'] != 'provider' else "You've entered Darren Diamond's apprenticeship details",
				classes: "govuk-!-margin-top-8",
				attributes:
				{
					style: "background: #00703c"
				}
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-6">
				What happens next
			</h2>
			<p>
				We’ll send these details to {{data['employer-name']}} to do a final review. 
			</p>

			<p>
				If {{data['employer-name']}} approves these details, we’ll send you an email to let you know. Then, you’ll become Darren Diamond’s training provider and payments will start. 
			</p>
			{% endif %}

			<p>
				<a href="account-home" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}

{% block footerShortcuts %}
<div class="govuk-width-container">
	<h3 class="govuk-heading-s">
		Employer emails
	</h3>
	<ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet">
		<li>
			<a href="../change-provider-3-0/emails/employer-added-provider-accepted">Approved by provider</a>
		</li>
		<li>
			<a href="../change-provider-3-0/emails/provider-added">Details added by provider</a>
		</li>
		<li>
			<a href="../change-provider-3-0/emails/employer-added-provider-changed">Changed by provider</a>
		</li>
		<li>
			<a href="../change-provider-3-0/emails/employer-added-provider-rejected">Rejected by provider</a>
		</li>
	</ul>

	<h3 class="govuk-heading-s">
		Provider emails
	</h3>
	<ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet">
		<li>
			<a href="../change-provider-pas-1-0/emails/provider-notification">Employer request notification</a>
		</li>
		<li>
			<a href="emails/provider-request-rejected">Request rejected by provider</a>
		</li>
	</ul>
</div>
{% endblock %}