{% extends "layout.html" %}

{% set serviceName = 'Information Management Services (IDAMS)' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Sign in
		</h1>

		<form method="post">
			{{ govukInput({
				label:
				{
					text: "User ID or email address"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-email",
				name: "employer-email"
			}) }}

			{{ govukInput({
				label:
				{
					text: "Password"
				},
				classes: "govuk-!-width-two-thirds govuk-!-font-weight-bold",
				id: "employer-password",
				name: "employer-password"
			}) }}

			{% set url = "new-start-date" if data['change-provider-journey'] == 'provider' else "check-your-answers" %}

			{{ govukButton({
				text: "Sign in",
				href: url
			}) }}
		</form>

		<h2 class="govuk-heading-m">
			Problems signing in?
		</h2>

		<ul class="govuk-list">
			<li><a href="#">I forgot my password</a></li>
			<li><a href="#">I don't have an account</a></li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}