{% extends "./layout-pas.html" %}

{% set currentPage = 'home' %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukInput({
				label:
				{
					text: "What is the agreed cost of completing the training?",
					classes: "govuk-label--xl govuk-!-margin-bottom-6",
					isPageHeading: true
				},
				classes: "govuk-input--width-10",
				id: "new-price",
				name: "change-provider[new-price]",
				inputmode: "numeric",
				pattern: "[0-9]*",
				spellcheck: false
			}) }}

			{{govukButton({
				classes: "govuk-!-margin-top-4",
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}