{% set notCompletedTag %}
<span class="govuk-tag" style="background: #777">Not completed</span>
{% endset %}

{% set completedTag %}
<span class="govuk-tag">Completed</span>
{% endset %}

{% set trainingProviderHtml %}
{% if data['provider-name'] %}
<p>
	{{data['provider-name']}}
</p>
<p>
	{{completedTag | safe}}
</p>
{% else %}
{{notCompletedTag | safe}}
{% endif %}
{% endset %}

{% set apprenticeshipTrainingHtml %}
{% if data['course-name'] %}
<p>
	{{data['course-name']}}
</p>
<p>
	{% if data['reservation-confirmed'] == 'true' %}
	{{completedTag | safe}}
	{% else %}
	{{notCompletedTag | safe}}
	{% endif %}
</p>
{% else %}
{{notCompletedTag | safe}}
{% endif %}
{% endset %}


{% set vacancyHtml %}
{% if data['vacancy-created'] == 'true' %}
<p>
	<a href='#'>VACANCY NAME</a>
</p>
<p>
	{{completedTag | safe}}
</p>
{% else %}
{{notCompletedTag | safe}}
{% endif %}
{% endset %}


{% from "summary-list/macro.njk" import govukSummaryList %}
{{ govukSummaryList({
	rows:
	[
	{
		key:
		{
			text: "The training provider"
		},
		value:
		{
			html: trainingProviderHtml
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Apprenticeship training"
		},
		value:
		{
			html: apprenticeshipTrainingHtml
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Recruit an apprentice"
		},
		value:
		{
			html: vacancyHtml | safe
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Apprentice details"
		},
		value:
		{
			text: notCompletedTag|safe if data['apprentice-details'] != 'done'
		},
		actions:
		{
			
		}
	}
	]
}) }}