{% set trainingProviderHtml %}
{% if data['provider-name'] %}
<p>
	{{data['provider-name']}}
</p>
<p>
	{% if data['provider-permissions'] %}
	<span class="govuk-tag">Completed</span>
	{% else %}
	<span class="govuk-tag" style="background: #777">In progress</span>
	{% endif %}
</p>
{% else %}
Not added yet
{% endif %}
{% endset %}

{% set apprenticeshipTrainingHtml %}
{% if data['course-name'] %}
<p>
	{{data['course-name']}}
</p>
<p>
	{% if data['reservation-confirmed'] == 'true' %}
	You have reserved funding
	{% else %}
	You have not reserved funding yet
	{% endif %}
</p>
{% else %}
<span class="govuk-tag" style="background: #777">Not started</span>
{% endif %}
{% endset %}

{% from "summary-list/macro.njk" import govukSummaryList %}
{{ govukSummaryList({
	rows:
	[
	{
		key:
		{
			text: "The training provider"
		},
		value:
		{
			html: trainingProviderHtml
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Apprenticeship training"
		},
		value:
		{
			html: apprenticeshipTrainingHtml
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Recruit an apprentice"
		},
		value:
		{
			html: "<a href='#'>View your vacancy</a>" if data['create-vacancy'] == 'done' else "Not completed"
		},
		actions:
		{
			
		}
	},
	{
		key:
		{
			text: "Apprentice details"
		},
		value:
		{
			text: "Not completed" if data['apprentice-details'] != 'done'
		},
		actions:
		{
			
		}
	}
	]
}) }}