{% extends "layout.html" %}


{% set currentPage = 'home' %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukPanel({
				titleText: "You’ve successfully changed the training provider"
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-6">
				What happens next
			</h2>
			<p>
				[Apprentice name] will move to [training provider] and payments will start.
			</p>

			<p>
				<a href="account-home" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<div class="govuk-width-container">
	<p class="govuk-!-font-size-14">
		<a href="employer-email">Go to email</a>
	</p>
</div>
{% endblock %}