<!-- ADD PAYE SCHEME -->
{% if data['add-paye-now'] != 'yes' and data['sign-agreement-now'] != 'yes' %}
<div class="das-minimal-section__wrapper">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Add your PAYE scheme to access your account
			</h2>


			<p class="das-minimal-section__description">
				Add your organisation’s PAYE scheme and sign your agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.
			</p>

			<p>
				<a href="add-paye" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Add your PAYE scheme
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- SIGN AGREEMENT -->
{% if data['sign-agreement-now'] != 'yes' and data['add-paye-now'] == 'yes' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Sign your agreement to access apprenticeship funding
			</h2>


			<p class="das-minimal-section__description">
				Sign your agreement with the Education and Skills Funding Agency to access funding for apprenticeship training. 
			</p>

			<p>
				<a href="sign-agreement" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Sign your agreement
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- START -->
{% if data['sign-agreement-now'] == 'yes' and data['add-paye-now'] == 'yes' and data['employer-type'] != 'levy' %}
<section class="govuk-!-padding-5" style="background: #f3f2f1">
	<h2 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-4">
		{% if data['started'] == 'true' %}
		Continue setting up an apprenticeship
		{% else %}
		Set up an apprenticeship
		{% endif %}
	</h2>

	<p class="govuk-body-l">
		You’ll need to choose a training provider, add the course details, reserve funding, find an apprentice and enter their details.
	</p>

	<p>
		{% if data['started'] == 'true' %}
		<a href="task-list" {% include './_new-tab-shortcut.html' %} class="govuk-button govuk-!-margin-bottom-0">
			Continue
		</a>
		{% else %}
		<a href="task-list" {% include './_new-tab-shortcut.html' %} class="govuk-button govuk-button--start govuk-!-margin-bottom-0">
			Get started
		</a>
		{% endif %}
	</p>
</section>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
{% endif %}