{% extends "layout.html" %}

{% block pageTitle %}
Take on an apprentice - Prototype
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back to your account",
	href: "account-home?sign-agreement-now=yes&add-paye-now=yes"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Set up a new apprenticeship
		</h1>

		<p>
			Fill in the sections below to set up a new apprenticeship in your organisation.
		</p>

		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

		{%- from "./macros/task-list-item.njk" import appTaskListItem %}


		<ol class="app-task-list">
			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Training provider
				</h2>

				<p class="app-task-list__description">
					Ad esse amet sed in magna minim non tempor sunt et incididunt laborum quis magna est aute duis aliqua ex veniam esse qui nulla duis sit cupidatat laborum consequat dolore tempor tempor dolor nulla sunt amet officia.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--training-provider/introduction">
							Introduction
						</a>
						{% if data['training-provider-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['training-provider-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--training-provider/choose-provider">
							Choose a training provider
						</a>
						{% else %}
						<span style="color: #777">
							Choose a training provider
						</span>
						{% endif %}
						{% if data['choose-provider'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['choose-provider'] == 'done' %}
						<a class="app-task-list__task-name" href="task--training-provider/provider-permissions">
							Training provider permissions
						</a>
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% else %}
						<span style="color: #777">Training provider permissions</span>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Reserve funding
				</h2>

				<p class="app-task-list__description">
					Minim et ullamco ut cillum qui amet veniam duis in dolore et ea quis sunt voluptate esse duis aute est eu qui est anim occaecat proident qui elit dolore excepteur do magna.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--reserve-funding/introduction">
							Introduction
						</a>
						{% if data['reserve-funding-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--reserve-funding/choose-course">
							Apprenticeship training course
						</a>
						{% else %}
						<span style="color: #777">
							Apprenticeship training course
						</span>
						{% endif %}
						
						{% if data['course-name'] %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--reserve-funding/{{'choose' if data['start-month' ] else 'know'}}-start-month">
							Start date
						</a>
						{% else %}
						<span style="color: #777">
							Start date
						</span>
						{% endif %}

						{% if data['start-month'] %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' and data['course-name'] and data['start-month'] %}
						<a class="app-task-list__task-name" href="task--reserve-funding/confirm-reservation-details">
							Confirm reservation
						</a>
						{% else %}
						<span style="color: #777">
							Confirm reservation
						</span>
						{% endif %}

						{% if data['reservation-confirmed'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Recruitment (optional)
				</h2>

				<p class="app-task-list__description">
					Minim et ullamco ut cillum qui amet veniam duis in dolore et ea quis sunt voluptate esse duis aute est eu qui est anim occaecat proident qui elit dolore excepteur do magna.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--recruitment/introduction">
							Introduction
						</a>
						{% if data['recruitment-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['recruitment-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--recruitment/introduction">
							Create a vacancy
						</a>
						{% else %}
						<span style="color: #777">
							Create a vacancy
						</span>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['create-vacancy'] == 'done' %}
						<a class="app-task-list__task-name" href="task--recruitment/introduction">
							View applications
						</a>
						{% else %}
						<span style="color: #777">
							View applications
						</span>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> Add apprentice details
				</h2>

				<p class="app-task-list__description">
					Minim et ullamco ut cillum qui amet veniam duis in dolore et ea quis sunt voluptate esse duis aute est eu qui est anim occaecat proident qui elit dolore excepteur do magna.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--apprentice-details/introduction">
							Introduction
						</a>
						{% if data['apprentice-details-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Done
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--apprentice-details/introduction">
							Apprentice details
						</a>
					</li>

					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--apprentice-details/introduction">
							Check and confirm apprentice details
						</a>
					</li>
				</ul>
			</li>
		</ol>

		<p class="govuk-!-margin-top-8">
			<a href="account-home?sign-agreement-now=yes&add-paye-now=yes">Save and return to your account</a>
		</p>
	</div>

	{% endblock %}

	{% block pageScripts %}
	<script>
		$(document).ready(function(){
			$('.app-task-list__content').each(function(){
				let content = $(this);
				let buttonHtml = '<span class="govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-display-block">Show</span>';
				let button = content.find('.show-hide.show-hide__link');
				let heading = content.parent().find('.app-task-list__heading a');

				heading.addClass('app-task-list__toggle show-hide').append(buttonHtml);
				content.hide()

				function toggleContent(){
					if(content.is(":hidden")){
						content.show();
					} else {
						content.hide();
					}
				}

				function updateButtonText(target, originalText, text){				
					if(content.is(":hidden")){
						target.html(text);
					} else {
						target.html(originalText);
					}
				}

				heading.each(function(){
					let closestButton = $(this).find('span');

					$(this).on('click', function(event){
						event.preventDefault()
						updateButtonText(closestButton, "Show", "Hide")
						toggleContent()
					})
				})
			})
		})
	</script>
	{% endblock %}