{% extends "layout.html" %}

{% block pageTitle %}
Take on an apprentice - Prototype
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "account-home?sign-agreement-now=yes&add-paye-now=yes"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{%- from "./macros/alert.njk" import appAlert %}

		<h1 class="govuk-heading-xl">
			Set up a new apprenticeship
		</h1>

		<hr class="govuk-section-break govuk-section-break--xl">

		<ol class="app-task-list">
			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> The training provider
				</h2>

				{% if data['choose-provider'] == 'done' and data['training-provider-permissions'] == 'done' %}
				{{ appAlert({
					titleText: "You have added "+ data['provider-name'] +" to your account",
					classes: "govuk-!-margin-bottom-6"
				}) }}
				{% endif %}

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--training-provider/introduction">
							Introduction and what you’ll need
						</a>
						{% if data['training-provider-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['training-provider-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--training-provider/choose-provider">
							Find a training provider
						</a>
						{% else %}
						<span style="color: #777">
							Find a training provider
						</span>
						{% endif %}
						{% if data['choose-provider'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['choose-provider'] == 'done' %}
						<a class="app-task-list__task-name" href="task--training-provider/provider-permissions">
							Training provider permissions
						</a>
						{% else %}
						<span style="color: #777">
							Training provider permissions
						</span>
						{% endif %}

						{% if data['training-provider-permissions'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Apprenticeship training
				</h2>

				{% if data['reservation-confirmed'] == 'true' %}
				{{ appAlert({
					titleText: "You have reserved funding for your chosen apprenticeship training",
					classes: "govuk-!-margin-bottom-6"
				}) }}
				{% endif %}

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--reserve-funding/introduction">
							Introduction and what you’ll need
						</a>
						{% if data['reserve-funding-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--reserve-funding/choose-course">
							Apprenticeship training course
						</a>
						{% else %}
						<span style="color: #777">
							Apprenticeship training course
						</span>
						{% endif %}
						
						{% if data['course-name'] %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' %}
						<a class="app-task-list__task-name" href="task--reserve-funding/{{'choose' if data['start-month' ] else 'know'}}-start-month">
							Apprenticeship training start date
						</a>
						{% else %}
						<span style="color: #777">
							Apprenticeship training start date
						</span>
						{% endif %}

						{% if data['start-month'] %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['reserve-funding-intro'] == 'done' and data['course-name'] and data['start-month'] %}
						<a class="app-task-list__task-name" href="task--reserve-funding/confirm-reservation-details">
							Reserve funding for apprenticeship training
						</a>
						{% else %}
						<span style="color: #777">
							Reserve funding for apprenticeship training
						</span>
						{% endif %}

						{% if data['reservation-confirmed'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Recruit an apprentice (optional)
				</h2>

				<p class="app-task-list__description govuk-inset-text">
					Do not complete this section if you are setting up an apprenticeship for an existing employee.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="task--recruitment/introduction">
							Introduction and what you’ll need
						</a>

						{% if data['recruitment-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% set recruitUrl %}https://esfa:educ4tion@das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/testing/create/title?training_level={{data['course-name']}}&change=yes&VacancyId=00000000-0000-0000-0000-000000000000&clientsFilter=new&has_training_provider=yes&newProviderName={{data['provider-name']}}&providerName={{data['provider-name']}}&UKPRN=10030120&hasError=true{% endset %}

						{% if data['recruitment-intro'] == 'done' %}
						<a class="app-task-list__task-name"  href="?create-vacancy=done" onclick="window.open('{{recruitUrl | safe}}');">
							Create a vacancy (opens in a new tab or window)
						</a>
						{% else %}
						<span style="color: #777">
							Create a vacancy (opens in a new tab or window)
						</span>
						{% endif %}

						{% if data['create-vacancy'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% set applicationsUrl %}https://https://esfa:educ4tion@das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/testing/account/manage-vacancy{% endset %}

						{% if data['create-vacancy'] == 'done' %}
						<a class="app-task-list__task-name"  href="" onclick="window.open('{{applicationsUrl | safe}}');">
							Manage applications
						</a>
						{% else %}
						<span style="color: #777">
							Manage applications
						</span>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="training-provider">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> The apprentice
				</h2>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						{% if data['reservation-confirmed'] == 'done' %}
						<a class="app-task-list__task-name" href="task--apprentice-details/introduction">
							Introduction and what you’ll need
						</a>
						{% else %}
						<span style="color: #777">
							Introduction and what you’ll need
						</span>
						{% endif %}

						{% if data['apprentice-intro'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% set apprenticeDetailsUrl %}https://esfa:educ4tion@das-add-and-approve-prototype.herokuapp.com/approve/sprint-19/research/employer/recruit-data/add--confirm-provider?provider-name={{data['provider-name']}}&ukprn=10001921&course-name={{data['course-name']}}{% endset %}


						{% if data['apprentice-intro'] == 'done' %}
						<a class="app-task-list__task-name"  href="?apprentice-details=done" onclick="window.open('{{apprenticeDetailsUrl | safe}}');">
							Add apprentice details (opens in a new tab or window)
						</a>
						{% else %}
						<span style="color: #777">
							Add apprentice details (opens in a new tab or window)
						</span>
						{% endif %}

						{% if data['apprentice-details'] == 'done' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['apprentice-details'] == 'done' %}
						<a class="app-task-list__task-name" href="task--apprentice-details/introduction">
							Send apprentice details to training provider
						</a>
						{% else %}
						<span style="color: #777">
							Send apprentice details to training provider
						</span>
						{% endif %}
					</li>
				</ul>
			</li>
		</ol>

		<p class="govuk-!-margin-top-8">
			<a href="account-home?sign-agreement-now=yes&add-paye-now=yes">Save and return to your account</a>
		</p>
	</div>

	{% endblock %}

	{% block pageScripts %}
	<script>
		$(document).ready(function(){
			$('.app-task-list__content').each(function(){
				let content = $(this);
				let buttonHtml = '<span class="govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-display-block">Show</span>';
				let button = content.find('.show-hide.show-hide__link');
				let heading = content.parent().find('.app-task-list__heading a');

				heading.addClass('app-task-list__toggle show-hide').append(buttonHtml);
				content.hide()

				function toggleContent(){
					if(content.is(":hidden")){
						content.show();
					} else {
						content.hide();
					}
				}

				function updateButtonText(target, originalText, text){				
					if(content.is(":hidden")){
						target.html(text);
					} else {
						target.html(originalText);
					}
				}

				heading.each(function(){
					let closestButton = $(this).find('span');

					$(this).on('click', function(event){
						event.preventDefault()
						updateButtonText(closestButton, "Show", "Hide")
						toggleContent()
					})
				})
			})
		})
	</script>
	{% endblock %}