.js-enabled {
	.das-tabs--apprentices {
		margin-bottom: 0;
		
		.govuk-tabs__tab {
			@include govuk-media-query($until: desktop) {
				width: 100%;
				max-width: 25%;
				overflow: hidden;
				font-size: 14px;
				padding: 0.5em 0.75em;
			}

			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 16px;			
		}
	}
}