{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-account-header.html" %}
	{% include "includes/ma-navbar.html" %} -->
	{% endblock %}

	{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "javascript: window.history.go(-1)"
	}) }}
	{% endblock %}

	{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<form method="post">
				{{ govukRadios({
				idPrefix: "reservation-start-month",
				name: "reservation[start-month]",
				fieldset:
				{
					legend:
					{
						text: "When will the apprentice start their apprenticeship training?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				items: 5|reservationMonths()
			}) }}

				{{govukButton({
					text: "Continue"
				})}}
			</form>
		</div>
	</div>
	{% endblock %}