{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}

<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% set serviceName = 'Set up an apprenticeship' %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Before you continue
    </h1>

    <p>
      You will need to tell us:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the training provider that will deliver the apprentice's training course</li>
      <li>how you will pay for the apprentice's training and assessment</li>
      <li>the apprenticeship training course</li>
      <li>when the apprentice will start their training course</li>
      <li>whether or not you need to advertise a vacancy</li>
    </ul>

    {{ govukButton({
      text: "Continue",
      href: "eligibility-recruit",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0"
    }) }}

    <p class="govuk-inset-text">
      Your progress will be saved if you leave at any time
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-related-items">
      <h3 class="govuk-heading-m">
        Related content
      </h3>
      
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a href="#">Apprenticeship funding</a></li>
        <li><a href="#">Apprenticeship funding bands</a></li>
        <li><a href="#">Employer guides to apprenticeships</a></li>
        <li><a href="#">Employing an apprentice</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}