{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Create an advert
		</h1>

		<p class="govuk-body-l">
			We’ll post your advert on the <a href="https://www.gov.uk/apply-apprenticeship" target="_blank">Find an apprenticeship service</a>.
		</p>

		<h2 class="govuk-heading-m">
			Before you start
		</h2>

		<p>
			Before you create an advert, you must:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>choose appropriate apprenticeship training</li>
			<li>get some information from your training provider (if you do not have a training provider yet, you can find a provider)</li>
		</ul>

		<h2 class="govuk-heading-m">
			What you’ll need
		</h2>

		<p>
			You’ll need the following:
		</p>

		<ul class="govuk-list--bullet govuk-list">
			<li>
				the name of the apprenticeship training and training provider 
			</li>
			<li>
				the duration of the apprenticeship
			</li>
			<li>
				the amount of hours spent working and training 
			</li>
			<li>
				the amount you’d like to pay your apprentice 
			</li>
		</ul>

		<p class="govuk-inset-text">
			It should take no longer than 30 minutes to create your first advert
		</p>

		{% set recruitUrl %}https://esfa:educ4tion@das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/testing/create/title?training_level={{data['course-name']}}&change=yes&VacancyId=00000000-0000-0000-0000-000000000000&clientsFilter=new&has_training_provider=yes&newProviderName={{data['provider-name']}}&providerName={{data['provider-name']}}&UKPRN=10030120&hasError=true{% endset %}

		{{govukButton({
			text: "Start now",
			classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-button--start",
			href: "vacancy-name"
		})}}
	</div>
</div>
{% endblock %}