
{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukInput({
				name: "vacancy[positions]",
				id: "vacancy-positions",
				classes: "govuk-input--width-5",
				label:
				{
					text: "How many positions are there for this apprenticeship?",
					isPageHeading: true,
					classes: "govuk-label--xl govuk-!-margin-bottom-8"
				}
			}) }}

			{{govukButton({
				text: "Save and continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}