
{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "How much would you like to pay the apprentice?",
					classes: "govuk-fieldset__legend--xl",
					isPageHeading: true
				}
			}) %}
			
			<p class="govuk-body">
				Pay will show as a yearly figure on your advert.
				<br>
				<a href="https://www.gov.uk/national-minimum-wage-rates" rel="noopener" target="_blank" class="govuk-link">National Minimum Wage for apprentices.</a>.
			</p>

			{% set providerHtml %}
			<div class="govuk-form-group govuk-!-width-full">
				<label class="govuk-label" for="choose-apprenticeship">
					Search providers
				</label>

				<select id="provider-name" name="vacancy[provider][name]">
					<option value=""></option>
					{% for provider in data['providers'].providers %}
					<option value="{{provider.name}}*{{provider.UKPRN}}" {{"selected" if provider.name === data['provider-name']}} >{{provider.name}} ({{provider.UKPRN}})</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#provider-name" id="clear-search">Clear search</a>
				</p>
			</div>
			{% endset %}

			{% set minimumWageHtml %}
			<p class="govuk-hint">
				From 1 April 2020, National Minimum Wage is between £4.55 and £8.72 an hour, depending on the candidate's age.
			</p>

			<p class="govuk-hint">
				On the vacancy, this will be displayed as a yearly wage of £5,441.80 to £10,429.12.
			</p>
			{% endset %}

			{% set apprentriceMinimumWageHtml %}
			<p class="govuk-hint">
				From 1 April 2020, the National Minimum Wage for apprentices is £4.15 an hour.
			</p>

			<p class="govuk-hint">
				On the vacancy, this will be displayed as a yearly wage of £4,963.40.
			</p>
			{% endset %}

			{% set customWageHtml %}
			<p class="govuk-hint">
				This must be more than the National Minimum Wage for apprentices.
			</p>

			<p class="govuk-hint">
				From 1 April 2020, the National Minimum Wage for apprentices is £4.15 an hour.
			</p>

			<p class="govuk-hint">
				{% set hours = data['vacancy']['hours'] or '30' %}
				Based on {{hours}} working hours a week, you'll need to pay a yearly wage of at least £{{ (hours * 52 * 4.15) | numeral().format('0,0.00') }}.
			</p>

			<div class="govuk-form-group">
				<input class="govuk-input govuk-!-margin-bottom-4 govuk-input--width-10 govuk-!-display-inline" id="yearly-pay" name="" type="text" aria-describedby="passport-issued-hint">
				<span class="govuk-!-display-inline govuk-body">yearly</span>
			</div>
			{% endset %}

			{{ govukRadios({
				idPrefix: "pay",
				name: "vacancy[pay]",
				items: [
				{
					value: "minimum-wage",
					text: "National Minimum Wage",
					conditional:
					{
						html: minimumWageHtml
					}
				},
				{
					value: "apprentice-minimum-wage",
					text: "National Minimum Wage for apprentices",
					conditional:
					{
						html: apprentriceMinimumWageHtml
					}
				},
				{
					value: "custom-wage",
					text: "Set wage yourself",
					conditional:
					{
						html: customWageHtml
					}
				}
				]
			}) }}
			{% endcall %}


			{{ govukCharacterCount({
				name: "extra-information",
				id: "extra-information",
				maxlength: 250,
				label:
				{
					text: "Extra information about pay (optional)",
					classes: "govuk-label--s"
				},
				hint: 
				{
					text: "For example, bonus schemes, performance increases or benefits."
				}
			}) }}

			{{govukButton({
				text: "Save and continue"
			})}}

			<p>
				<a href="../recruit-dashboard">Cancel</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#provider-name'),
			showAllValues: true,
			defaultValue: ''
		})
	})
</script>
{% endblock %}