
{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Confirm apprenticeship training
			</h1>
			
			<div class="govuk-!-padding-3 govuk-!-margin-bottom-6" style="background: #f4f4f4;">
				<h2 class="govuk-heading-m">
					Able seafarer (deck)
					<span class="govuk-caption-m">Level 2 (GCSE)</span>
					<span class="govuk-caption-m">Typical duration: 18 months</span>
					<span class="govuk-caption-m">Standard</span>
				</h2>
				<p class="govuk-!-margin-bottom-0">
					<a href="#">Change apprenticeship training</a>
				</p>
			</div>

			{{govukButton({
				text: "Confirm and continue"
			})}}

			<p>
				<a href="#">Cancel</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}