
{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Duration and working hours
			</h1>
			
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="passport-issued">
					How many months will the apprenticeship last for, including work and training?
				</label>

				<span id="passport-issued-hint" class="govuk-hint">
					The apprenticeship must last for at least 12 months.
					<br>
					For {{data['vacancy']['course']['name']}}, Typical length is 18 months.
				</span>

				<input class="govuk-input govuk-!-margin-bottom-4 govuk-input--width-2 govuk-!-display-inline" id="passport-issued" name="" type="text" aria-describedby="passport-issued-hint">
				<select class="govuk-select govuk-!-display-inline" id="period" name="period">
					<option value="months">Month(s)</option>
				</select>
			</div>

			{{ govukCharacterCount({
				name: "more-detail",
				id: "more-detail",
				maxlength: 250,
				label:
				{
					text: "Details of working week",
					classes: "govuk-label--s"
				},
				hint: 
				{
					text: "For example, Monday to Friday 9am to 5pm, shifts, may work evenings and weekends."
				}
			}) }}

			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="passport-issued">
					How many hours will the apprentice work each week, including training?
				</label>

				<input class="govuk-input govuk-!-margin-bottom-4 govuk-input--width-2 govuk-!-display-inline" id="passport-issued" name="vacancy[hours]" type="text" aria-describedby="passport-issued-hint">
				<span class="govuk-!-display-inline govuk-body">hours</span>
			</div>

			{{govukButton({
				text: "Save and continue"
			})}}

			<p>
				<a href="../recruit-dashboard">Cancel</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}