
{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "Have you found a training provider?",
					classes: "govuk-fieldset__legend--xl",
					isPageHeading: true
				}
			}) %}

			{% set providerHtml %}
			<div class="govuk-form-group govuk-!-width-full">
				<label class="govuk-label" for="choose-apprenticeship">
					Search providers
				</label>

				<select id="provider-name" name="vacancy[provider][name]">
					<option value=""></option>
					{% for provider in data['providers'].providers %}
					<option value="{{provider.name}}*{{provider.UKPRN}}" {{"selected" if provider.name === data['provider-name']}} >{{provider.name}} ({{provider.UKPRN}})</option>
					{% endfor %}
				</select>

				<p class="govuk-!-margin-top-2">
					<a href="#provider-name" id="clear-search">Clear search</a>
				</p>
			</div>
			{% endset %}
			
			<p>
				You will need to use a registered training provider who offers "Able seafarer (deck), Level 2 (GCSE)" training. 
			</p>

			{{ govukRadios({
				idPrefix: "chosen-provider",
				name: "chosen-provider",
				items: [
				{
					value: "yes",
					text: "Yes",
					conditional: {
					html: providerHtml
				}
			},
			{
				value: "no",
				text: "No, I will choose one later"
			}
			]
		}) }}
		{% endcall %}

		{{govukButton({
			text: "Save and continue"
		})}}
	</form>
</div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
	$(document).ready(function(){
		accessibleAutocomplete.enhanceSelectElement({
			selectElement: document.querySelector('#provider-name'),
			showAllValues: true,
			defaultValue: ''
		})
	})
</script>
{% endblock %}