{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Training provider
		</h1>

		<h2 class="govuk-heading-m">
			What is a training provider?
		</h2>

		<p>
			A training provider is the organisation that will deliver the apprentice's training course.
		</p>

		<p>
			Training providers might referred to by other names:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>college</li>
			<li>university</li>
			<li>academy</li>
		</ul>

		<p>
			Your organisation may choose to deliver the apprenticeship training and assessment rather than using a third party.
		</p>

		<h2 class="govuk-heading-m">
			Finding a training provider
		</h2>
		<p>
			To search for training providers and apprenticeship training courses, you can use the <a href="#">Find apprenticeship training (opens in new tab)</a> service.
		</p>

		{{govukButton({
			text: "Continue",
			href: "q--found-provider"
		})}}
	</div>
</div>
{% endblock %}