{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Confirm provider details
			</h1>

			<div class="govuk-!-padding-5 govuk-!-margin-bottom-8" style="background: #f3f2f1">
				<h2 class="govuk-heading-m">
					{{data['provider-name']}}
					<span class="govuk-caption-m">16 Dorrington Ave, Coventry, CV1 6HX<br>UKPRN: 10004319</span>
				</h2>
				<p class="govuk-body govuk-!-margin-bottom-0">
					<a href="q--found-provider">Change provider</a>
				</p>
			</div>

			{{ govukRadios({
				idPrefix: "confirm-provider-details",
				name: "confirm-provider-details",
				fieldset:
				{
					legend:
					{
						text: "Are these provider details correct?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				hint:
				{
					text: "Here is some help text."
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}