{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

{% set providerHtml %}
{{ govukInput({
	id: "choose-provider",
	name: "choose-provider",
	type: "text",
	classes: "govuk-!-width-two-thirds",
	label: {
	text: "Search for apprenticeship training provider"
}
}) }}
{% endset -%}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "found-provider",
				name: "found-provider",
				fieldset:
				{
					legend:
					{
						text: "Do you know which training provider will be delivering your apprentice's training?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				hint:
				{
					text: "Here is some help text."
				},
				items: [
				{
					value: "yes",
					text: "Yes",
					conditional:
					{
						html: providerHtml
					}
				},
				{
					value: "no",
					text: "No, I don't know yet"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}

			<p>
				<a href="#">Skip this question</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}