{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			The apprentice
		</h1>

		<p>
			If you’re an employer who wants to take on an apprentice, you need to know:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				apprentices are aged 16 or over (to any age)
			</li>
			<li>
				they combine working with studying to gain skills and knowledge in a specific job
			</li>
			<li>
				they can be new or current employees who are looking to upskill
			</li>
		</ul>

		<p>
			Your apprentice should:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				work with experienced staff
			</li>
			<li>
				learn job-specific skills
			</li>
			<li>
				study whilst doing their apprenticeship
			</li>
		</ul>

		<form method="post">
			{{ govukRadios({
				idPrefix: "found-apprentice",
				name: "found-apprentice",
				fieldset:
				{
					legend:
					{
						text: "Do you want to enter the apprentice's details now?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
					}
				},
				hint:
				{
					text: "Here is some help text."
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No, not yet"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}