{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Recruiting an apprentice
		</h1>

		<!-- <p class="govuk-inset-text">
			You told us that you don't have the apprentice's details yet.
		<br>
			<a href="#">Change your answer</a>
		</p> -->

		<p>
			You can create a free advert for your apprenticeship vacancy using the <a href="#">Recruit an apprentice (opens in a new tab)</a> service.
		</p>

		<p>
			Your training provider may offer to advertise your apprenticeship vacancy on your behalf. Contact your training provider for more details.
		</p>

		<form method="post">
			{{ govukRadios({
				idPrefix: "need-vacancy",
				name: "need-vacancy",
				fieldset:
				{
					legend:
					{
						text: "Do you want to create an advert to find an apprentice for this role now?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l govuk-!-margin-top-4"
					}
				},
				hint:
				{
					text: "Here is some help text."
				},
				items: [
				{
					value: "yes",
					text: "Yes",
					checked: data['need-vacancy'] === 'yes'
				},
				{
					value: "later",
					text: "Maybe later",
					checked: data['need-vacancy'] === 'later'
				},
				{
					value: "no",
					text: "No, I don't need to advertise this role",
					checked: data['need-vacancy'] === 'no'
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}