{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukPanel({
				titleText: "You have given " + data['provider-name'] + " permission"
			}) }}

			<p>
				Lorem ipsum et sunt velit est ullamco eiusmod cupidatat ullamco dolore nostrud excepteur nulla quis.
			</p>
			<p>
				Aliqua dolore mollit in cupidatat in minim sint duis reprehenderit cillum reprehenderit sed nostrud commodo laborum ut enim.
			</p>

			{{govukButton({
				text: "Continue",
				href: "task-list"
			})}}
		</form>
	</div>
</div>
{% endblock %}