{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Start a new apprenticeship: step by step
    </h1>

    <p>
      You will need to tell us:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the training provider that will deliver the apprentice's training course</li>
      <li>how you will pay for the apprentice's training and assessment</li>
      <li>the apprenticeship training course</li>
      <li>when the apprentice will start their training course</li>
      <li>whether or not you need to advertise a vacancy</li>
    </ul>

    <p>
      Here is a final bit of useful information about the process that you're about to begin.
    </p>

    {{ govukButton({
      text: "Continue",
      href: "g--found-provider",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0"
    }) }}

    <p class="govuk-inset-text">
      Your progress will be saved if you leave this guide at any time
    </p>
  </div>
</div>
{% endblock %}