{% extends "layout.html" %}

{% block pageTitle %}
Take on an apprentice - Prototype
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back to your account",
	href: "account-home?sign-agreement-now=yes&add-paye-now=yes"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Start an apprenticeship: step-by-step
		</h1>

		<p>
			Fill in the sections below to start an apprenticeship in your organisation.
		</p>


		{% set doneTagHtml %}
		<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>
		{% endset %}

		{% set optionalTagHtml %}
		<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>Optional</strong>
		{% endset %}

		{% set todoTagHtml %}
		<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>To-do</strong>
		{% endset %}


		{{ govukTable({
			firstCellIsHeader: true,
			rows: [
			[
			{
				html: "<a href='g--found-provider' class='govuk-!-font-size-24'>Training provider</a>"
			},
			{
				html: doneTagHtml if data['choose-provider'] != '' else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='g--know-course' class='govuk-!-font-size-24'>Apprenticeship training course</a>"
			},
			{
				html: doneTagHtml if data['choose-course'] != '' else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='q--know-start-date' class='govuk-!-font-size-24'>Training start date</a>"
			},
			{
				html: doneTagHtml if data['start-date'] else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Funding</a>"
			},
			{
				html: doneTagHtml if data['reserve-funding'] == 'true' else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='q--need-vacancy' class='govuk-!-font-size-24'>Recruitment</a>"
			},
			{
				html: todoTagHtml if data['need-vacancy'] != 'no' else doneTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Apprentice details</a>"
			},
			{
				html: doneTagHtml if data['found-apprentice'] == 'yes' else todoTagHtml,
				format: 'numeric'
			}
			],
			[
			{
				html: "<span class='govuk-!-font-size-24' style='color:#999'>Confirm apprenticeship details</span>"
			},
			{
				html: "<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>Do last</strong>",
				format: 'numeric'
			}
			]
			]
		}) }}

		<p class="govuk-!-margin-top-8">
			<a href="account-home?sign-agreement-now=yes&add-paye-now=yes">Save and return to your account</a>
		</p>
</div>

{% endblock %}
