{% extends "layout.html" %}

{% block pageTitle %}
Take on an apprentice - Prototype
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back to your account",
	href: "account-home"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Start an apprenticeship: step-by-step
		</h1>

		<p>
			Fill in the sections below to start an apprenticeship in your organisation.
		</p>


		{{ govukTable({
			firstCellIsHeader: true,
			rows: [
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Training provider</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Apprenticeship training course</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Training start date</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Funding</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Advertise vacancy</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-!-font-size-24'>Done</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<a href='#' class='govuk-!-font-size-24'>Apprentice details</a>"
			},
			{
				html: "<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>To-do</strong>",
				format: 'numeric'
			}
			],
			[
			{
				html: "<span class='govuk-!-font-size-24' style='color:#999'>Confirm apprenticeship details</span>"
			},
			{
				html: "<strong class='govuk-tag govuk-tag--border govuk-!-font-size-24'>Do last</strong>",
				format: 'numeric'
			}
			]
			]
		}) }}

		<p class="govuk-!-margin-top-8">
			<a href="#">Save and return to your account</a>
		</p>
</div>

{% endblock %}
