{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-8">
			{{data['title']}}
		</h1>

		<p>
			{% if data['task-list'] != 'true' %}
			{{govukButton({
				text: "Continue",
				href: "account-home"
			})}}

			{% else %}

			{{govukButton({
				text: "Continue",
				href: "task-list"
			})}}
			{% endif %}
		</p>
	</div>
</div>


{% endblock %}