{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back to your account",
	href: "account-home"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Take on an apprentice
		</h1>

		<ol class="app-task-list">
			<li id="one">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Find apprenticeship training courses and providers
				</h2>

				<p class="app-task-list__description">
					Find the right apprenticeship for your business and find a training provider to deliver the training. You can save your searches.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="?training=true#one" onclick="window.open('https://findapprenticeshiptraining.apprenticeships.education.gov.uk/');" aria-describedby="eligibility-completed">
							Find apprenticeship training
						</a>
						{% if data['training'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed" style="background:#777">
							Visited
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
							View your saved apprenticeship training courses
						</a>
					</li>

					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
							View your shortlisted training providers
						</a>
					</li>
				</ul>
			</li>

			<li id="two">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Reserve funding for apprenticeship training
				</h2>

				<p class="app-task-list__description">
					Lorem ipsum minim minim fugiat nulla reprehenderit est consequat consequat aliqua ut enim duis.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="?reserved=true#two" aria-describedby="eligibility-completed">
							Reserve funding for apprenticeship training
						</a>
						{% if data['reserved'] == 'true' or data['apprentice-details'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-completed" style="background: #777">
							Incomplete
						</strong>
						{% endif %}
					</li>
				</ul>
			</li>

			<li id="three">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Recruit an apprentice
				</h2>

				<p class="app-task-list__description">
					Advertise your apprenticeships and view current applications you have been sent.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="?vacancy-created=true#three" aria-describedby="eligibility-completed">
							Create a vacancy
						</a>

						{% if data['vacancy-created'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-completed" style="background: #777">
							Optional
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
							View your applications
						</a>
					</li>
				</ul>
			</li>

			<li id="four">
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> Add your apprentice's details
				</h2>

				<p class="app-task-list__description">
					Lorem ipsum eu in amet minim laboris nulla proident aliquip dolor incididunt.
				</p>

				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a class="app-task-list__task-name" href="?apprentice-details=true#four" aria-describedby="eligibility-completed">
							Add apprentice details
						</a>

						{% if data['apprentice-details'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-completed" style="background: #777">
							Incomplete
						</strong>
						{% endif %}
					</li>

					<li class="app-task-list__item">
						{% if data['apprentice-details'] == 'true' %}
						<a class="app-task-list__task-name" href="?details-sent=true#four" aria-describedby="eligibility-completed">
							Send apprentice details to Training provider
						</a>
						{% if data['details-sent'] == 'true' %}
						<strong class="govuk-tag app-task-list__task-completed">
							Completed
						</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-completed" style="background: #777">
							Incomplete
						</strong>
						{% endif %}
						{% else %}
						<span class="app-task-list__task-name" style="color:#777">
							Send apprentice details to Training provider
						</span>
						{% endif %}
					</span>
				</li>

				<li class="app-task-list__item">
					{% if data['details-sent'] == 'true' %}
					<a class="app-task-list__task-name" href="account-home?apprentice-approved=true" aria-describedby="eligibility-completed">
						Approve apprentice details
					</a>
					{% if data['details-approved'] == 'true' %}
					<strong class="govuk-tag app-task-list__task-completed">
						Completed
					</strong>
					{% else %}
					<strong class="govuk-tag app-task-list__task-completed" style="background: #777">
						Incomplete
					</strong>
					{% endif %}
					{% else %}
					<span class="app-task-list__task-name" style="color:#777">
						Approve apprentice details
					</span>
					{% endif %}
				</li>
			</ul>
		</li>
	</div>

	{% endblock %}
