.govuk-tag {
	&.govuk-tag--border {
		$tag-colour: #333;
		background: #fff;
		border: 3px solid $tag-colour;
		color: $tag-colour
	}
	&.govuk-tag--border--light {
		$tag-colour: #aaa;
		background: #fff;
		border: 3px solid $tag-colour;
		color: $tag-colour
	}
}