{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "continue-set-up",
				name: "continue-set-up",
				fieldset:
				{
					legend:
					{
						text: "Do you need to create an advert for this apprenticeship?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl govuk-!-margin-top-4"
					}
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			{{ govukDetails({
				summaryText: "Where will the advert be posted?",
				html: 'If you create an advert, we’ll post it on <a href="https://www.gov.uk/apply-apprenticeship" target="_blank">Find an apprenticeship (opens in a new window or tab)</a>.',
				classes: "govuk-!-margin-top-1"
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}