<div class="das-panel">
	<h3 class="govuk-heading-m">
		Your training provider
	</h3>

	<h3 class="govuk-heading-s">
		ABC Training Limited
		<span class="govuk-caption-m govuk-!-font-size-16">UK Provider Reference Number: 1010999</span>
	</h3>

	<p>
		123 London Road, Coventry, CV1 1AA
	</p>

	<dl class="das-definition-list das-definition-list--inline">
		<dt class="das-definition-list__title">Tel</dt>
		<dd class="das-definition-list__definition">024 7699 1234</dd>

		<dt class="das-definition-list__title">Email</dt>
		<dd class="das-definition-list__definition"><a href="#">contact@abc-training-ltd.uk</a></dd>
	</dl>

	<p>
		<a href="#">View permissions</a>
	</p>
</div>