<div class="das-panel">
	<h3 class="govuk-heading-m">
		Recruitment
	</h3>

	<p>
		Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.
	</p>

	<ul class="govuk-list">
		<li>
			<a href="#">Create vacancy</a>
		</li>
		<li>
			<a href="#">View your vacancies</a>
		</li>
	</ul>

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	<p class="govuk-body-s">
		We were not able to retrieve your vacancy data because our system is experiencing some issues.
	</p>
</div>