<div class="das-panel das-panel--featured">
	<h3 class="das-panel__heading">
		You've secured apprenticeship funding
	</h3>

	<dl class="das-definition-list das-definition-list--with-separator">
		<dt class="das-definition-list__title">Employer:</dt>
		<dd class="das-definition-list__definition">CITY HOSPITAL NHS TRUST</dd>

		<dt class="das-definition-list__title">Apprenticeship training course:</dt>
		<dd class="das-definition-list__definition">Advanced butcher</dd>

		<dt class="das-definition-list__title">Apprenticeship training start: </dt>
		<dd class="das-definition-list__definition">September 2019 to November 2019</dd>
	</dl>

	<p>
		<a href="#" class="das-panel__link">
			Manage reservations
		</a>
	</p>
</div>