{% set apprentice1Html %}
<h3 class="govuk-heading-m">
	Sarah Philips-Johnson
</h3>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Apprenticeship training course</dt>
	<dd class="das-definition-list__definition">Advanced butcher</dd>

	<dt class="das-definition-list__title">Apprenticeship training start date</dt>
	<dd class="das-definition-list__definition">September 2019</dd>

	<dt class="das-definition-list__title">Planned apprenticeship training end date</dt>
	<dd class="das-definition-list__definition">June 2021</dd>
</dl>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Agreed apprenticeship training course price</dt>
	<dd class="das-definition-list__definition">£1,500 excluding VAT</dd>
</dl>
{% endset -%}

{% set apprentice2Html %}
<h3 class="govuk-heading-m">
	Jon Ash
</h3>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Apprenticeship training course</dt>
	<dd class="das-definition-list__definition">Astrophysical Engineer</dd>

	<dt class="das-definition-list__title">Apprenticeship training start date</dt>
	<dd class="das-definition-list__definition">October 2019</dd>

	<dt class="das-definition-list__title">Planned apprenticeship training end date</dt>
	<dd class="das-definition-list__definition">July 2022</dd>
</dl>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Agreed apprenticeship training course price</dt>
	<dd class="das-definition-list__definition">£1,500 excluding VAT</dd>
</dl>
{% endset -%}

{% set apprentice3Html %}
<h3 class="govuk-heading-m">
	Jimmy Cricket
</h3>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Apprenticeship training course</dt>
	<dd class="das-definition-list__definition">Sheep Herder</dd>

	<dt class="das-definition-list__title">Apprenticeship training start date</dt>
	<dd class="das-definition-list__definition">August 2019</dd>

	<dt class="das-definition-list__title">Planned apprenticeship training end date</dt>
	<dd class="das-definition-list__definition">June 2021</dd>
</dl>

<dl class="das-definition-list das-definition-list--table">
	<dt class="das-definition-list__title">Agreed apprenticeship training course price</dt>
	<dd class="das-definition-list__definition">£1,500 excluding VAT</dd>
</dl>
{% endset -%}

<div class="das-panel">
	<h2 class="govuk-heading-l">
		Your apprentices
	</h2>

	{{ govukTabs({
		title: "",
		classes: 'das-tabs--apprentices',
		items: [
		{
			label: "Sarah Philips-Johnson",
			id: "past-day",
			panel:
			{
				html: apprentice1Html
			}
		},
		{
			label: "Jon Ash",
			id: "past-week",
			panel:
			{
				html: apprentice2Html
			}
		},
		{
			label: "Jimmy Cricket",
			id: "past-month",
			panel:
			{
				html: apprentice3Html
			}
		}
		]
	}) }}
</div>