{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
{% include "includes/ma-account-header.html" %}
{% include "includes/ma-navbar.html" %}
{% endblock %}

{% set currentPage = 'recruit' %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<!-- Header -->
		<div class="govuk-grid-row govuk-!-margin-top-4">
			<div class="govuk-grid-column-two-thirds">
				<!-- Heading -->
				<!-- <span class="govuk-caption-xl">Recuitement</span> -->
				<h1 class="govuk-heading-xl ">Recruitment</h1>
				<!-- Core actions -->
				<!-- <a href="./ALL/create/create-vacancy" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" name="button">Create a new vacancy</a> -->
			</div>
			<div class="govuk-grid-column-one-third" style="text-align: right;">
				{% if data.user=="employer"%}
				<a href="create/create-vacancy" class="govuk-button" data-module="govuk-button">Create vacancy</a>
				{%else%}
				<a href="create/employers-select" class="govuk-button" data-module="govuk-button">Create vacancy</a>
				{%endif%}
			</div>
		</div>

		<div class="govuk-grid-row govuk-!-margin-bottom-6">
			<div class="govuk-grid-column-two-thirds">
				<!-- Search -->
				<form action="./vacancies" method="get" >
					<div class="row-group">
						<div class="search-table column-two-thirds govuk-!-margin-bottom-4">
							<fieldset class="govuk-fieldset">
								<div class="form-group search-field search-field-darker">
									<input type="hidden" name="clientsFilter" value="new">
									<div class="search-input search-input-with-button">
										<label class="govuk-label " for="search">
											Search for vacancy by title {%if data.user== "employer" %}or vacancy ID{%else%}, vacancy ID or employer name{% endif %}
										</label>
										<div class="autocomplete__parent_wrapper">
											<div class="autocomplete__wrapper">
												<div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
													<span>No search results.</span>
													<span>,,</span>
												</div>
												<p id="search-default-value" class="hidden">{% if search %}{{search}}{% endif%}</p>
												<input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="search" name="search"  role="combobox" type="text" value="{%if search %}{{search}}{%endif%}">
												<ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
											</div>
										</div>
										<input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="{%if search %}{{search}}{%endif%}" style="display: none;">
										<input class="form-control form-control-3-4" name="filter" id="filter" type="text" value="any" style="display: none;">
									</div>

									<div class="search-submit">
										<button class="button" type="submit" id="searchSubmit" name="searchSubmit" value="Search">Search clients</button>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
			</div> <!-- Header -  govuk-grid-column-two-thirds -->
		</div> <!-- header - govuk-grid-row  -->

		<!-- For prototype only. Use this to populate the search results -->
		{% for vacancy in data['vacancies'] %}
		<div style="display:none;">
			<span class="data-id">{{vacancy.VAC}}</span>
			<span class="data-orgs">{{vacancy.employer}}</span>
			<span class="data-name">{{vacancy.title}} Apprentice</span>
			<!-- <span class="data-orgs">{%set employer = data.employers | random %}{{employer.businessName}}</span> -->
		</div>
		{% endfor %}

		<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

		<!-- Vacancy -->
		<div class="govuk-grid-row raa-card--row">
			<div class="govuk-grid-column-one-third">
				<div class="raa-card raa-card--inactive">
					<div class="raa-card--content">
						<h3 class="govuk-heading-m raa-card--heading">
							<span class="raa-card--stat">0</span>
							Draft vacancies
						</h3>

						<p class="govuk-body raa-card--description">Vacancies that need completing and sending for review.</p>
            <!-- <p class="govuk-body raa-card--description">./vacancies published on Find an Apprenctice service</p>
              <ul class="raa-card--tasks govuk-list">
                <li>
                  <a class="govuk-link" href="vacancies?status=closing">6 vacancies are closing soon</a>
                </li>
                <li>
                  <a class="govuk-link" href="vacancies?status=closing-no-applications">3 vacancies are closing soon and have no applications</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<div class="govuk-grid-column-one-third">
	<div class="raa-card">
		<div class="raa-card--content">
			<h3 class="govuk-heading-m raa-card--heading">
				<span class="raa-card--stat">1</span>
				<a class="card-link" href="vacancies?filter=pending review">
					Pending review
				</a>
			</h3>

			<p class="govuk-body raa-card--description">Vacancies that have been sent for review.</p>
			<!-- <p class="govuk-body raa-card--description"></p> -->
              <!-- <ul class="raa-card--tasks govuk-list">
                <li>
                  <a class="ga-track-anchor-click" href="vacancies?status=new" data-ga-event-category="link - click" >6 new applications to look at </a>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<div class="govuk-grid-column-one-third">
	<div class="raa-card raa-card--inactive">
		<div class="raa-card--content">
			<h3 class="govuk-heading-m raa-card--heading">
				<span class="raa-card--stat">0</span>
				Rejected vacancies
			</h3>

			<p class="govuk-body raa-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
		</div>
	</div>
</div>
</div>

<div class="govuk-grid-row raa-card--row">
	<div class="govuk-grid-column-one-third">
		<div class="raa-card raa-card--inactive">
			<div class="raa-card--content">
				<h3 class="govuk-heading-m raa-card--heading">
					<span class="raa-card--stat">0</span>
					Live vacancies
				</h3>
				<p class="govuk-body raa-card--description">Vacancies on Find an apprencticeship service.</p>
			</div>
		</div>
	</div>
	<div class="govuk-grid-column-one-third">
		<div class="raa-card raa-card--inactive">
			<div class="raa-card--content">
				<h3 class="govuk-heading-m raa-card--heading">
					<span class="raa-card--stat">0</span>
					New applications
				</h3>
				<p class="govuk-body raa-card--description">Applications from Find an apprenticeship service.</p>
			</div>
		</div>
	</div>
	<div class="govuk-grid-column-one-third">
		<div class="raa-card raa-card--inactive">
			<div class="raa-card--content">
				<h3 class="govuk-heading-m raa-card--heading">
					<span class="raa-card--stat">0</span>
					Closed vacancies
				</h3>
				<p class="govuk-body raa-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-full">
		<a href="vacancies?filter=any" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">View your vacancy</a>
	</div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<!-- Other actions  -->
<div class="govuk-grid-row">
	{% if data.user=="provider"%}
	<div class="govuk-grid-column-one-third ">
		<h3 class="govuk-heading-s"><a class="govuk-link  govuk-link--no-visited-state" href="reports/dashboard">Reports</a></h3>
		<p class="govuk-body">Create a report about applicants or vacancies</p>
	</div>
	{% endif %}
	<div class="govuk-grid-column-one-third ">
		<h3 class="govuk-heading-s">
			{% if data.has_notifications == "yes" %}
			<a href="notifications/notification-preferences">Manage your recruitment emails</a>
			{% else %}
			<a href="notifications/notification-preferences-new">Manage your recruitment emails</a>
			{% endif%}
		</h3>
		<p class="govuk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
	</div>
</div>

</div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
	function defer(method) {
		if (window.jQuery) {
			method();
		} else {
			setTimeout(function() { defer(method) }, 50);
		}
	}
	window.onresize = function(event) {
		resize()
	};
	function resize(){
		var maxHeight = 0;
		$(".raa-card--row").attr('data-height', maxHeight)
		console.log("--- resizing ---")
		$(".raa-card").each(function(){
			var row = $(this).parent().parent();
			if ($(this).find('.raa-card--content').height() > row.attr('data-height') ){
				row.attr('data-height', $(this).find('.raa-card--content').height()+30)
			}
		});
		console.log($(".raa-card--row").attr('data-height'))
		$(".raa-card").each(function(){
			var newHeight = $(this).parent().parent().attr('data-height')
			$(this).height(newHeight)
		})
	}
	defer(function () {
		resize()
	});
	function getUsers() {
		var titles = document.getElementsByClassName("data-name");
		var ids = document.getElementsByClassName("data-id");
		var orgs = document.getElementsByClassName("data-orgs");
		var providers = document.getElementsByClassName("data-providers");
		var data = [];
		for (var i=0; i<titles.length; i++) {
      // var user=names[i].textContent+" - "+email[i].textContent;
      var name=titles[i].textContent
      if(! data.includes(name)){
      	data.push(name);
      }
  }
  for (var i=0; i<ids.length; i++) {
      // var user=names[i].textContent+" - "+email[i].textContent;
      var name=ids[i].textContent
      data.push(name);
  }
  for (var i=0; i<orgs.length; i++) {
      // var user=names[i].textContent+" - "+email[i].textContent;
      var org=orgs[i].textContent;
      if (data.indexOf(org) == -1) {
        // no duplicate
        data.push(org);
    }
}
    // for (var i=0; i<providers.length; i++) {
    //   // var user=names[i].textContent+" - "+email[i].textContent;
    //   var provider="<span class='govuk-hint autocomplete__option--hint' style='display:inline'>Provider: </span>" + providers[i].textContent;
    //   data.push(provider);
    // }
    return data;
}
function suggest (data, populateResults) {
	console.log("suggest is triggered")
    // const results = "Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677".split(",");
    // const results = Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677
    // const results = JSON.stringify(Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677)
    const results = getUsers();
    const filteredResults = results.filter(
    	result => result.toUpperCase().indexOf(data.trim().toUpperCase()) !== -1
    	)
    // console.log(filteredResults)
    populateResults(filteredResults);
}
  // Trigger search click.  Taken out the clich for the prototype.
  function fireSearch() {
  	setTimeout(function(){ $("#searchSubmit").trigger("click") }, 200);
  // console.log($('.autocomplete__option--focused').html ())
}
  // function fireSearch(){
  // 	// $("#searchClientsSubmit").trigger("click")
  //   console.log("pressed")
  // }
  var myInput = document.querySelector('#search');
  var myInputID = myInput.id;
  var element = document.createElement('div');
  var value = ""
  if (document.getElementById('search-default-value').innerHTML != "") {
  	value = document.getElementById("search-default-value").innerHTML;
  }
  element.className = "autocomplete__parent_wrapper";
  myInput.parentNode.insertBefore(element, myInput)
  // console.log("value"+document.getElementById("search-default-value").innerHTML)
  accessibleAutocomplete({
    // other options
    element: element,
    id: myInputID,
    name: myInput.name,
    source: suggest,
    defaultValue: value,
    confirmOnBlur: false,
    autoselect: true,
    minLength: 3,
    onConfirm: fireSearch,
    displayMenu: 'overlay'
});
  myInput.style.display = 'none';
  myInput.id = myInputID + '-old';
  myInput.name = '';
</script>
{% endblock %}
