{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Confirm training provider
			</h1>

			<div class="govuk-!-padding-5 govuk-!-margin-bottom-8" style="background: #f3f2f1">
				<h2 class="govuk-heading-m">
					{{data['provider-name']}}
					<span class="govuk-caption-m">16 Dorrington Ave, Coventry, CV1 6HX<br>UKPRN: 10004319</span>
				</h2>
				<p class="govuk-body govuk-!-margin-bottom-0">
					<a href="q--found-provider">Change provider</a>
				</p>
			</div>

			{{govukButton({
				text: "Save and continue"
			})}}

			<p>
				<a href="../task-list{{'?provider-name=&training-provider-permissions=&found-provider=' if data['change-provider'] != 'true' else '?provider-name='+data['old-provider-name']}}">Cancel and return to all sections</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}