<table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <legend class="govuk-fieldset__legend">Create cohort</legend>
            </th>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="create-cohort" name="create-cohort" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="create-cohort">Yes</label>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="create-cohort-2" name="create-cohort" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="create-cohort-2">No</label>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <legend class="govuk-fieldset__legend">Reserve funding</legend>
            </th>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reserve-funding" name="reserve-funding" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="reserve-funding">Yes</label>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reserve-funding-2" name="reserve-funding" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="reserve-funding-2">No</label>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <legend class="govuk-fieldset__legend">Add and edit apprentice vacancy ads</legend>
            </th>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vacancy-ads" name="vacancy-ads" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="vacancy-ads">Yes</label>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vacancy-ads-2" name="vacancy-ads" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="vacancy-ads-2">No</label>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <legend class="govuk-fieldset__legend">Notify successful and unsuccessful candidates</legend>
            </th>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="notify-candidates" name="notify-candidates" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="notify-candidates">Yes</label>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="notify-candidates-2" name="notify-candidates" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="notify-candidates-2">No</label>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <legend class="govuk-fieldset__legend">Create candidate shortlists </legend>
            </th>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="create-shortlist" name="create-shortlist" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="create-shortlist">Yes</label>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="create-shortlist-2" name="create-shortlist" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="create-shortlist-2">No</label>
              </div>
            </td>
          </tr>


        </tbody>
      </table>