{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "reservation-start-month",
				name: "reservation[start-month]",
				fieldset:
				{
					legend:
					{
						text: "When will the apprentice start their apprenticeship training?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint:
				{
					text: "The apprentice can start their apprenticeship training anytime in the month you choose, or the following 2 months."
				},
				items: [
				{
					value: "January 2020",
					text: "January 2020",
					checked: data['reservation']['start-month'] === 'January 2020'
				},
				{
					value: "February 2020",
					text: "February 2020",
					checked: data['reservation']['start-month'] === 'February 2020'
				},
				{
					value: "March 2020",
					text: "March 2020",
					checked: data['reservation']['start-month'] === 'March 2020'
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}