{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post" action="../whats-next">
			{{ govukPanel({
				titleText: "You have successfully reserved funding for apprenticeship training"
			}) }}

			{{ govukSummaryList({
				rows:
				[
				{
					key:
					{
						text: "Apprenticeship training course"
					},
					value:
					{
						html: data['reservation']['course-name']
					}
				},
				{
					key:
					{
						text: "Apprenticeship training start date"
					},
					value:
					{
						html: data['reservation']['start-month']
					}
				}
				]
			}) }}

			<hr class="govuk-section-break govuk-section-break--xl">

			<h2 class="govuk-heading-l">
				Making changes
			</h2>
			<p>
				You can add or change the apprenticeship training when you add an apprentice's details.
			</p>

			<p>
				You will need to reserve new funding to change the apprenticeship training start date to outside of the 3-month window you originally selected.
			</p>

			{{ govukRadios({
				idPrefix: "whats-next",
				name: "whats-next",
				fieldset: 
				{
					legend:
					{
						text: "What's next?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m govuk-!-margin-top-6"
					}
				},
				items: [
				{
					value: "recruit",
					text: "Recruit an apprentice"
				},
				{
					value: "find-training-provider",
					text: "Find a training provider"
				},
				{
					value: "add-apprentice-details",
					text: "Add apprentice's details"
				},
				{
					value: "return-to-homepage",
					text: "Go to homepage"
				}
				]
			}) }}

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}