{% extends "./layout--ma__account-home.html" %}

{% block searchArea %}
{% endblock %}

{% block panelTopLeft %}
{% include './panels--1-0/panel--top-left--registered.html' %}
{% endblock %}

{% block panelBottomLeft %}
<div class="das-panel">
	<h3 class="govuk-heading-m">
		Financial transactions
	</h3>
	
	<p>
		View your transactions here once your account is set up.
	</p>
</div>
{% endblock %}

{% block panelTopRight %}
<div class="das-panel">
	<h3 class="govuk-heading-m">
		Add a training provider
	</h3>

	<p>
		You must sign your employer agreement before you can add a training provider and control what tasks you would like your training provider to do on your behalf.
	</p>
</div>
{% endblock %}

{% block panelBottomRight %}
<div class="das-panel">
	<h3 class="govuk-heading-m">
		Recruitment
	</h3>

	<p>
		Add your PAYE scheme first, then you can advertise apprenticeship vacancies.
	</p>
</div>
{% endblock %}

{% block accountFooter %}
{% endblock %}