
{% extends "./_account-home.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block mainBox %}
<h2 class="app-cta-box__heading">
	Apprenticeship funding reserved
</h2>

<p>
	<b>Legal entity:</b> AZ Enterprises Ltd
</p>

<p>
	<b>Training course:</b> Bespoke Saddler: Level 3 (Standard)
</p>

<p>
	<b>Start date:</b> February 2019 to April 2019
</p>

<p>
	<a href="funding--spend-control-check">
		Add an apprentice
	</a>
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="border-color: rgba(255,255,255,0.4)">

<p>
	<a href="funding--spend-control-check">
		Check and reserve more funding
	</a>
</p>

<p>
	<a href="funding--manage">
		Manage funding
	</a>
</p>
{% endblock %}
