{% extends "./layout--ma__account-home.html" %}

{% block searchArea %}
{% endblock %}

{% block panelTopLeft %}
{% include './panels--1-0/panel--top-left--reserve-funding.html' %}
{% endblock %}

{% block panelBottomLeft %}
{% include './panels--1-0/panel--bottom-left--finance-empty.html' %}
{% endblock %}

{% block panelTopRight %}
{% include './panels--1-0/panel--top-right--provider-details.html' %}
{% endblock %}

{% block panelBottomRight %}
{% include './panels--1-0/panel--bottom-right--recruit.html' %}
{% endblock %}

{% block accountFooter %}
{% endblock %}