{% extends "./layout.html" %}

{% set serviceName %}
MA employer account prototype
{% endset -%}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
	Change of provider
	<span class="govuk-caption-l">Continuous improvement team</span>
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-8">
	Changes to the Manage apprenticeships services to allow employers to change an apprentice's training provider.
</p>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-l govuk-!-margin-bottom-">
			Employer
		</h2>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
			<a href="change-provider-3-0">Version 3-0</a><br>
			<span class="govuk-caption-m">15 September 2020</span>
		</h4>
		<p>
			Changes based on technical discussions and User research in August and September 2020.
		</p>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
			<a href="change-provider-2-0">Version 2-0</a><br>
			<span class="govuk-caption-m">7 September 2020</span>
		</h4>
		<p>
			Changes based on technical discussions and User research in August and September 2020.
		</p>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
			<a href="change-provider-1-0">Version 1-0</a><br>
			<span class="govuk-caption-m">August 2020</span>
		</h4>
		<p>
			Changes based on Approvals journey and content audit.
		</p>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
			<a href="change-provider-0-0">Version 0-0</a><br>
			<span class="govuk-caption-m">August 2020</span>
		</h4>
		<p>
			Picking up from where Approvals left off.
		</p>

		<hr class="govuk-section-break govuk-section-break--xl">

		<h2 class="govuk-heading-l govuk-!-margin-bottom-">
			Provider
		</h2>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
			<a href="change-provider-pas-1-0">Version 1-0</a><br>
			<span class="govuk-caption-m">September 2020</span>
		</h4>
		<p>
			Initial version now we've covered most of the employer journey.
		</p>
	</div>
</div>

{% endblock %}