{% extends "./layout.html" %}

{% set serviceName %}
MA employer account prototype
{% endset -%}


{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
	<span class="govuk-caption-l">Continuous improvement team</span>
	Employer account home page
</h1>

<div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
	<h2 class="govuk-heading-l">
		MVP designs
	</h2>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
			<h3 class="govuk-heading-s">
				Non-levy journey
			</h3>
			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
				<li>
					<a href="mvp-1-1/start?add-paye-now=no&sign-agreement-now=no&reserved-funding=no&employer-type=non-levy">Journey start page</a>
				</li>
			</ul>

			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
				<li>
					<a href="mvp-1-1/account-home?add-paye-now=no&sign-agreement-now=no&reserved-funding=no&employer-type=levy">Account home - skipped PAYE</a>
				</li>
				<li>
					<a href="mvp-1-1/account-home?add-paye-now=yes&sign-agreement-now=no&reserved-funding=no&employer-type=non-levy">Account home - PAYE added, skipped agreement</a>
				</li>
				<li>
					<a href="mvp-1-1/account-home?add-paye-now=yes&sign-agreement-now=yes&reserved-funding=no&employer-type=non-levy">Account home - PAYE added, agreement signed, no funds reserved</a>
				</li>
				<li>
					<a href="mvp-1-1/account-home?add-paye-now=yes&sign-agreement-now=yes&reserved-funding=yes&employer-type=non-levy">Account home - PAYE added, agreement signed, reserved funds prompt hidden</a>
				</li>
			</ul>
		</div>

		<div class="govuk-grid-column-one-half">
			<h3 class="govuk-heading-s">
				Levy journey
			</h3>
			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
				<li>
					<a href="mvp-1-1/start?add-paye-now=no&sign-agreement-now=no&reserved-funding=no&employer-type=non-levy">Journey start page</a>
				</li>
			</ul>

			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
				<a href="mvp-1-1/account-home?add-paye-now=no&sign-agreement-now=no&reserved-funding=no&employer-type=levy">Account home - skipped PAYE</a>
			</li>
			<li>
				<a href="mvp-1-1/account-home?add-paye-now=yes&sign-agreement-now=no&reserved-funding=no&employer-type=levy">Account home - PAYE added, skipped agreement</a>
			</li>
			<li>
				<a href="mvp-1-1/account-home?add-paye-now=yes&sign-agreement-now=yes&reserved-funding=&employer-type=levy">Account home - PAYE added, agreement signed</a>
			</li>
		</ul>
	</div>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-l">
	Other design concepts
</h2>

<h3 class="govuk-heading-m">
	Transactional
</h3>
<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="transactional-0-0">Version 0-0</a>
	</li>
	<li>
		<a href="transactional-0-1">Version 0-1</a>
	</li>
	<li>
		<a href="transactional-0-2">Version 0-2</a>
	</li>
</ul>


<h3 class="govuk-heading-m">
	Based on interim design
</h3>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="interim-0-0">Version 0</a> (as-is)
	</li>
	<li>
		<a href="interim-0-1">Version 0.1</a> (as-is plus CTA panel)
	</li>
	<li>
		<a href="minimal-1-0">Version 1</a>
	</li>
	<li>
		<a href="minimal-1-1">Version 1.1</a>
	</li>
	<li>
		<a href="minimal-2-0">Version 2</a>
	</li>
</ul>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h3 class="govuk-heading-m">
	Based on panel design
</h3>

{{ govukWarningText({
	text: "Still in progress. Not all variants have been defined.",
	iconFallbackText: "Warning"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h3 class="govuk-heading-s">
			Non-levy employers
		</h3>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="account-home--add-paye">Add PAYE scheme prompt</a>
			</li>
			<li>
				<a href="account-home--sign-agreement">Sign agreement prompt</a>
			</li>
			<li>
				<a href="account-home--reserve-funding--no-provider">Reserve funding prompt (no provider added)</a>
			</li>
			<li>
				<a href="account-home--reserve-funding--with-provider">Reserve funding prompt (provider added)</a>
			</li>
			<li>
				<a href="account-home--funding-reserved--no-provider">Funding reserved (no provider added)</a>
			</li>
			<li>
				<a href="account-home--one-apprentice--review">One apprentice (approve details prompt)</a>
			</li>
			<li>
				<a href="account-home--one-apprentice">One apprentice added</a>
			</li>
			<li>
				<a href="account-home--three-apprentices">3 apprentices added</a>
			</li>
			<li>
				<a href="account-home--many-apprentices">Many apprentices added (without training provider)</a>
			</li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-s">
			Levy employers
		</h2>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				<strike>Add PAYE scheme prompt</strike>
			</li>
			<li>
				<strike>Sign agreement prompt</strike>
			</li>
			<li>
				<strike>Reserve funding prompt (no provider added)</strike>
			</li>
			<li>
				<strike>Reserve funding prompt (provider added)</strike>
			</li>
			<li>
				<strike>Funding reserved</strike>
			</li>
			<li>
				<strike>One apprentice (approve details prompt)</strike>
			</li>
			<li>
				<strike>One apprentice added</strike>
			</li>
			<li>
				<strike>3 apprentices added</strike>
			</li>
			<li>
				<strike>Many apprentices added</strike>
			</li>
			<li>
				<a href="account-home--many-apprentices--one-provider">Many apprentices added (one training provider)</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}