{% extends "./layout.html" %}

{% set serviceName %}
MA employer account prototype
{% endset -%}


{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
	Account home variants
</h1>

<h2 class="govuk-heading-l">
	Non-levy employers
</h2>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="account-home--add-paye">Add PAYE scheme prompt</a>
	</li>
	<li>
		<a href="account-home--sign-agreement">Sign agreement prompt</a>
	</li>
	<li>
		<a href="account-home--reserve-funding--no-provider">Reserve funding prompt (no provider added)</a>
	</li>
	<li>
		<a href="account-home--reserve-funding--with-provider">Reserve funding prompt (provider added)</a>
	</li>
	<li>
		<a href="account-home--funding-reserved--no-provider">Funding reserved (no provider added)</a>
	</li>
	<li>
		<a href="account-home--one-apprentice--review">One apprentice (approve details prompt)</a>
	</li>
	<li>
		<a href="account-home--one-apprentice">One apprentice added</a>
	</li>
	<li>
		<a href="account-home--three-apprentices">3 apprentices added</a>
	</li>
	<li>
		<a href="account-home--many-apprentices">Many apprentices added (without training provider)</a>
	</li>
	<li>
		<a href="account-home--many-apprentices--one-provider">Many apprentices added (one training provider)</a>
	</li>
</ul>


<!-- <pre>
	| Agreement signed > PAYE added > Reserved funds > Apprentice added > Apprentice started >
	------------------------------------------------------------------------------------------
	|        ✅        |            |                |                  |                    |
	------------------------------------------------------------------------------------------
	|        ✅        |     ✅     |                |                  |                    |
	------------------------------------------------------------------------------------------
	|        ✅        |     ✅     |       ✅       |                  |                    |
	------------------------------------------------------------------------------------------
	|        ✅        |     ✅     |       ✅       |        ✅        |                    |
	------------------------------------------------------------------------------------------
	|        ✅        |     ✅     |       ✅       |        ✅        |         ✅         |
</pre> -->


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">
	Levy employers
</h2>

{{ govukWarningText({
	text: "Not started yet.",
	iconFallbackText: "Warning"
}) }}

<ul class="govuk-list govuk-list--bullet">
	<li>
		<strike>Add PAYE scheme prompt</strike>
	</li>
	<li>
		<strike>Sign agreement prompt</strike>
	</li>
	<li>
		<strike>Reserve funding prompt (no provider added)</strike>
	</li>
	<li>
		<strike>Reserve funding prompt (provider added)</strike>
	</li>
	<li>
		<strike>Funding reserved</strike>
	</li>
	<li>
		<strike>One apprentice (approve details prompt)</strike>
	</li>
	<li>
		<strike>One apprentice added</strike>
	</li>
	<li>
		<strike>3 apprentices added</strike>
	</li>
	<li>
		<strike>Many apprentices added</strike>
	</li>
</ul>

{% endblock %}