{% extends "./layout--ma.html" %}

{% block pageTitle %}
Your employer account - Manage apprenticeships
{% endblock %}

{% block main %}
{% block accountHeader %}
<section class="das-section das-section--header">
	<div class="govuk-width-container">
		<h1 class="govuk-heading-m das-account__title">Your employer account</h1>
		<h2 class="govuk-heading-l das-account__account-name">Assurance Aerospace Ltd</h2>
		<a href="" class="das-favourites-link govuk-body">
			<span class="das-favourites-link__icon"><img src="https://das-at-frnt-end.azureedge.net/images/favourite-unchecked-black.svg" alt=""></span>
			<span class="das-favourites-link__text">View saved favourites</span>
		</a>
	</div>
</section>
{% endblock %}

{% block searchArea %}
<section class="das-section das-section--search">
	<div class="govuk-width-container">
		<div class="das-dashboard-header__row">
			<div class="das-dashboard-header__col das-dashboard-header__col--primary">
				<form>
					<div class="govuk-form-group das-form-group-inline das-dashboard-search">
						<label for="search" class="govuk-visually-hidden">Search</label>
						<input class="govuk-input das-dashboard-search__input" id="search" type="search" placeholder="Search">
						<div class="das-form-group-inline__button-wrap">
							<button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>

			<div class="das-dashboard-header__col das-dashboard-header__col--secondary">
				<a class="das-dashboard-header__tasks-link" href="#das-dashboard-other-tasks" id="other-tasks-link">
					Other tasks you can do
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper das-section--dashboard" id="main-content" role="main">
	<div class="govuk-width-container">
		<div class="das-panels">
			<div class="das-panels__col das-panels__col--primary">
				{% block panelTopLeft %}
				{% endblock %}

				{% block panelBottomLeft %}
				{% endblock %}
			</div>

			<div class="das-panels__col das-panels__col--secondary">
				{% block panelTopRight %}
				{% endblock %}

				{% block panelBottomRight %}
				{% endblock %}
			</div>
		</div>
	</div>

	{% include 'includes/ma-other-tasks.html' %}
</main>

{% block accountFooter %}
<section class="das-section das-section--main das-dashboard-footer" aria-labelledby="more-title">
	<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<hr class="das-section-break das-section-break--l das-section-break--heavy das-section-break--gutters">
			<div class="das-dashboard-footer__column das-dashboard-footer__column--title">
				<h2 id="more-title" class="das-dashboard-footer__title">More on the Apprenticeships Service</h2>
			</div>
			<div class="das-dashboard-footer__column">
				<h3 class="govuk-heading-m das-dashboard-footer__sub-title">Most active</h3>
				<ul class="govuk-list das-list--featured">
					<li><a href="#" class="govuk-link govuk-link--no-visited-state">Add an apprentice</a></li>
					<li><a href="#" class="govuk-link govuk-link--no-visited-state">Manage your apprentices</a></li>
					<li><a href="#" class="govuk-link govuk-link--no-visited-state">Add a new training provider</a></li>
					<li><a href="#" class="govuk-link govuk-link--no-visited-state">Add a new organisation</a></li>
					<li><a href="#" class="govuk-link govuk-link--no-visited-state">Rename your account</a></li>
				</ul>
			</div>
			<div class="das-dashboard-footer__column">
				<a class="das-promo" href="#">
					What you need to know about apprenticeships
				</a>
				<p>
					Find out more about <a href="#" class="govuk-link govuk-link--no-visited-state"> what the Apprenticeship Service can do for your organisation</a>.
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% endblock %}
{% endblock %}