{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
	homepageUrl: "/",
	serviceName: serviceName,
	serviceUrl: "/",
	containerClasses: "govuk-width-container",
	classes: "das-header--nav-right",
	navigation: [
	{
		href: "#4",
		text: "Sign out"
	}
	]
}) }}

{% from "macros/navbar.njk" import navbar %}
{{ navbar({
	links:
	[
	{
		href: "#",
		text: "Home",
		selected: true
	},
	{
		href: "#",
		text: "Apprentices"
	},
	{
		href: "#",
		text: "Finance"
	},
	{
		href: "#",
		text: "Recruitment"
	},
	{
		href: "#",
		text: "Your organisations and agreements"
	}
	]
}) }}  
{% endblock %}

{% block content %}
<section class="das-section das-section--header das-section--header--has-border govuk-!-margin-bottom-8 govuk-!-padding-top-0">
	<h1 class="govuk-heading-m das-account__title">Account ID: A1B2C3</h1>
	<h2 class="govuk-heading-l das-account__account-name">{{data['employer-name']}}</h2>
</section>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<section>
			<h2 class="govuk-heading-l">
				Apprentices
			</h2>

			<p>
				Add apprentices, update details of existing apprentices and authorise payments to training providers.
			</p>

			<ul class="govuk-list">
				<li>
					<a href="#">Add an apprentice</a>
				</li>

				<li>
					<a href="#">View your cohorts</a>
				</li>

				<li>
					<a href="#">Manage your apprentices</a>
				</li>

				<li>
					<a href="#">Report public sector apprenticeship target </a>
				</li>
			</ul>
		</section>

		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

		<section>
			<h2 class="govuk-heading-l">
				Recruitment
			</h2>

			<p>
				Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.
			</p>

			<ul class="govuk-list">
				<li>
					<a href="#" class="govuk-!-font-weight-bold">8 new applications</a>
				</li>
				<li>
					<a href="#">View your recruitment dashboard</a>
				</li>
				<li>
					<a href="#">Create a vacancy</a>
				</li>
			</ul>
		</section>

		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

		<section>
			<h2 class="govuk-heading-l">
				Finance
			</h2>

			<p>
				Reserve and manage funding, view your financial transactions, connect with other employers and send or receive transfer funds.
			</p>


			<ul class="govuk-list">
				<li>
					<a href="#">View transactions</a>
				</li>
				<li>
					<a href="#">Funding projection</a>
				</li>
				<li>
					<a href="#">Transfer funds</a>
				</li>
				<li>
					<a href="#">View your finance dashboard</a>
				</li>
			</ul>
		</section>

		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

		<section>
			<h2 class="govuk-heading-l">
				Your organisation
			</h2>

			<p>
				Set training provider permissions and control what tasks they can do on your behalf. Search for apprenticeships and see details of approved providers who can deliver the training.
			</p>

			<ul class="govuk-list">
				<li>
					<a href="#">Training provider permissions</a>
				</li>
				<li>
					<a href="#">Team members</a>
				</li>
				<li>
					<a href="#">PAYE schemes</a>
				</li>
			</ul>
		</section>
	</div>

	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			{{data['employer-name']}}
		</h3>
		<ul class="govuk-list govuk-!-font-size-1 govuk-!-margin-bottom-4">
			<li>
				<a href="#">Rename account</a>
			</li>
			<li>
				<a href="#">Organisations and agreements</a>
			</li>
		</ul>

		<h3 class="govuk-heading-s govuk-!-margin-bottom-2">
			Logged in as Jay Smith
		</h3>
		<ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
			<li>
				<a href="#">Switch accounts</a>
			</li>
			<li>
				<a href="#">Change your password</a>
			</li>
			<li>
				<a href="#">Change your email address</a>
			</li>
			<li>
				<a href="#">Notification settings</a>
			</li>
		</ul>
	</div>
</div>


{% endblock %}