<!-- ADD PAYE SCHEME -->
{% if data['add-paye-now'] != 'yes' and data['sign-agreement-now'] != 'yes' %}
<div class="das-minimal-section__wrapper">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Add your PAYE scheme to access your account
			</h2>


			<p class="das-minimal-section__description">
				Add your organisation’s PAYE scheme and sign your agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.
			</p>

			<p>
				<a href="add-paye" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Add your PAYE scheme
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- SIGN AGREEMENT -->
{% if data['sign-agreement-now'] != 'yes' and data['add-paye-now'] == 'yes' %}
<div class="das-minimal-section__wrapper das-section-dashboard">
	<div class="das-minimal-section das-minimal-section--action">
		<section class="das-section-dashboard-last">
			<h2 class="das-section__heading govuk-heading-l govuk-!-margin-top-2">
				Sign your agreement to access apprenticeship funding
			</h2>


			<p class="das-minimal-section__description">
				Sign your agreement with the Education and Skills Funding Agency to access funding for apprenticeship training. 
			</p>

			<p>
				<a href="sign-agreement" {% include './_new-tab-shortcut.html' %} class="govuk-!-font-weight-bold">
					Sign your agreement
				</a>
			</p>
		</section>
	</div>
</div>
{% endif %}

<!-- START -->
{% if data['sign-agreement-now'] == 'yes' and data['add-paye-now'] == 'yes' and data['employer-type'] != 'levy' %}
<section class="govuk-!-padding-5" style="background: #f3f2f1">
	<h2 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-4">
		{% if data['started'] == 'true' %}
		Your apprenticeship
		{% else %}
		Set up an apprenticeship
		{% endif %}
	</h2>

	{% include './_apprenticeship-table.html' %}

	<form method="post" action="set-up-an-apprenticeship">
		{% if data['started'] == 'true' %}
		{{govukButton({
			text: "Continue setting up your apprenticeship"
		})}}
		{% else %}
		{{govukButton({
			classes: 'govuk-button--start govuk-!-margin-bottom-2',
			text: "Start now"
		})}}
		{% endif %}
	</form>
</section>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
{% endif %}