{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}

<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Sign in
		</h1>

		<p>
			Sign in or <a href="#">create an account</a> to manage your apprenticeship funds.
		</p>

		<form method="post">
			{{ govukInput({
				label:
				{
					text: "Email address",
					classes: "govuk-!-font-weight-bold"
				},
				classes: "govuk-!-width-two-thirds",
				id: "employer-email",
				name: "employer-email"
			}) }}

			{{ govukInput({
				label:
				{
					text: "Password",
					classes: "govuk-!-font-weight-bold"
				},
				classes: "govuk-!-width-two-thirds govuk-!-font-weight-bold",
				id: "employer-password",
				name: "employer-password"
			}) }}


			{{ govukButton({
				text: "Continue"
			}) }}
		</form>

		<p>
			<a href="#">Forgotten your password?</a>
		</p>
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}