{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Set up an apprenticeship
		</h1>

		<h2 class="govuk-heading-m">
			Before you start
		</h2>

		<p>
			Minim voluptate id in in ea consequat ut commodo veniam laboris dolore et sint est reprehenderit ullamco sunt eu sit ut non ea deserunt dolore mollit veniam dolor tempor adipisicing veniam laboris ut exercitation proident.
		</p>

		<h2 class="govuk-heading-m">
			What you'll need:
		</h2>

		<ul class="govuk-list govuk-list--bullet">
			<li>Do officia</li>
			<li>Eu sunt</li>
			<li>Sunt sit</li>
			<li>Do incididunt</li>
		</ul>

		{{govukButton({
			text: "Continue",
			classes: "govuk-!-margin-top-6",
			href: "task--training-provider/introduction"
		})}}
	</div>
</div>
{% endblock %}