{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Confirm apprenticeship training
			</h1>

			<div class="govuk-!-padding-5 govuk-!-margin-bottom-8" style="background: #f3f2f1">
				<h2 class="govuk-heading-m">
					{{data['course-name']}}
					<span class="govuk-caption-m">
						Typical duration: 16 months 
					</span>
				</h2>
				<p class="govuk-body govuk-!-margin-bottom-0">
					<a href="choose-course">Change apprenticeship training</a>
				</p>
			</div>

			<input type="hidden" value="yes" name="confirm-course">
			{{govukButton({
				text: "Save and continue"
			})}}
		</form>

		<p>
			<a href="../task-list?course-name=&know-course=">Cancel and return to all sections</a>
		</p>
	</div>
</div>
{% endblock %}