{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<form method="post">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Funding
			</h1>
			
			<p>
				As an employer who doesn’t pay the apprenticeship levy, you will need to pay the training provider directly for training your apprentices.
			</p>

			<p>
				You pay 5% towards the cost of training and assessing your apprentice. The government will pay the rest (95%) up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum (opens in a new tab)</a>. They’ll pay the funds directly to the training provider.
			</p>
			
			<h2 class="govuk-heading-m">
				Extra support for small employers
			</h2>

			<p>
				Employers with fewer than 50 people working for them will not have to pay the 5% contribution for an apprentice who is aged between:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>16-18 years old</li>
				<li>19-24 years old and who has previously been in care or who has an Education, Health and Care plan provided by their local authority</li>
			</ul>

			<p>
				The government will pay 100% of the training costs for these individuals, up to the funding band maximum. 
			</p>
			
			<h2 class="govuk-heading-m">
				Training younger apprentices
			</h2>

			<p>
				All employers will receive £1,000 if, at the start of the apprenticeship, the apprentice is aged between:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>16-18 years old</li>
				<li>19-24 years old and who has previously been in care or who has an Education, Health and Care plan provided by their local authority</li>
			</ul>

			<p>
				This payment will be made to the employer in two equal instalments via the training provider. 
			</p>

			<h2 class="govuk-heading-m">
				Further reading
			</h2>
			<p>
				For more information about apprenticeship funding employers who don't pay the levy, <a href="https://www.apprenticeships.gov.uk/employer/how-much-is-it-going-to-cost">read about apprenticeship funding (opens in a new tab)</a> on the Apprenticeships website.
			</p>
			
			{{govukButton({
				text: "Continue",
				href: "../task-list?reserve-funding-intro=done",
				classes: "govuk-!-margin-top-6"
			})}}
		</div>
	</form>
</div>
{% endblock %}