{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/ma-header.html" %}
<!-- {% include "includes/ma-navbar.html" %} -->
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Apprenticeship funding may not be available
			</h1>

			<p class="govuk-body-l">
				Apprenticeship funding cannot be reserved until you know the apprenticeship training course and the apprenticeship training start date...
			</p>

			<p>
				You can still carry on and do things but you should reserve apprenticeship funding before you get too far through this stuff...
			</p>

			{{govukButton({
				text: "Continue",
				href: "../task-list"
			})}}
		</form>
	</div>
</div>
{% endblock %}